In [1]:
# Dependencies and setup (will need more)
import numpy as np
import os
import pandas as pd
import warnings
warnings.simplefilter("ignore")

In [2]:
# Matt's Code Begins Here

# United States EV Market Share (1990-2018)

In [3]:
# Market share
shareURL = "https://www.anl.gov/es/vision-model"

# This is where the CSV lives locally:
shareFilepath = "data/evMarketShare.csv"

print(f"{shareFilepath} is {round(os.path.getsize(shareFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{shareURL}")

# Read CSV into DataFrame
shareData = pd.read_csv(shareFilepath)

# Display DataFrame
shareData

data/evMarketShare.csv is 0.0 megabytes (MB).
More info here:
https://www.anl.gov/es/vision-model

    Year  EV Market Share
0   1990           0.0000
1   1991           0.0000
2   1992           0.0000
3   1993           0.0000
4   1994           0.0000
5   1995           0.0000
6   1996           0.0000
7   1997           0.0000
8   1998           0.0000
9   1999           0.0000
10  2000           0.0002
11  2001           0.0000
12  2002           0.0000
13  2003           0.0000
14  2004           0.0000
15  2005           0.0000
16  2006           0.0000
17  2007           0.0000
18  2008           0.0000
19  2009           0.0000
20  2010           0.0000
21  2011           0.0017
22  2012           0.0021
23  2013           0.0064
24  2014           0.0082
25  2015           0.0094
26  2016           0.0099
27  2017           0.0120
28  2018           0.0254

# Charging Stations by State (as of April 5, 2019)

In [4]:
# Use the read_html function in pandas to automatically scrape tabular data
stationsURL = "https://evadoption.com/ev-charging-stations-statistics/charging-stations-by-state/"
evStationsTable = pd.read_html(stationsURL)
evStationsTable

[                   State  Charging Locations (1)  Charging Outlets (2)  \
 0                Alabama                     115                   268
 1                 Alaska                      16                    26
 2                Arizona                     454                  1223
 3               Arkansas                      72                   196
 4             California                    5095                 19687
 5               Colorado                     692                  1857
 6            Connecticut                     335                   814
 7               Delaware                      49                   159
 8   District of Columbia                     122                   340
 9                Florida                    1165                  3010
 10               Georgia                     773                  2335
 11                Hawaii                     265                   523
 12                 Idaho                      70                   163
 13              Illinois                     487                  1255
 14               Indiana                     207                   507
 15                  Iowa                     127                   316
 16                Kansas                     185                   777
 17              Kentucky                     115                   251
 18             Louisiana                      91                   213
 19                 Maine                     155                   288
 20              Maryland                     593                  1598
 21         Massachusetts                     597                  1758
 22              Michigan                     401                  1112
 23             Minnesota                     326                   793
 24           Mississippi                      56                   152
 25              Missouri                     408                  1720
 26               Montana                      44                   110
 27              Nebraska                      79                   207
 28                Nevada                     247                   721
 29         New Hampshire                     110                   215
 30            New Jersey                     290                   745
 31            New Mexico                      68                   183
 32              New York                    1190                  2828
 33        North Carolina                     582                  1331
 34          North Dakota                      19                    29
 35                  Ohio                     432                   996
 36              Oklahoma                      67                   169
 37                Oregon                     605                  1462
 38          Pennsylvania                     433                  1029
 39          Rhode Island                      85                   251
 40        South Carolina                     234                   500
 41          South Dakota                      33                    89
 42             Tennessee                     404                  1054
 43                 Texas                    1134                  3109
 44                  Utah                     210                   602
 45               Vermont                     212                   550
 46              Virginia                     578                  1356
 47            Washington                     874                  2383
 48         West Virginia                      87                   212
 49             Wisconsin                     285                   542
 50               Wyoming                      51                   139
 51                Median                     234                   550

     Outlets Per Location  EV Stock (3)  EVs to Charging Outlets
 0                   2.33          2487                     9.28
 1                   1.62           534                    20.54
 2                   2.69         18129                    14.82
 3                   2.72          1194                     6.09
 4                   3.86        506608                    25.73
 5                   2.68         19738                    10.63
 6                   2.43         10916                    13.41
 7                   3.24          1895                    11.92
 8                   2.79          2321                     6.83
 9                   2.58         40548                    13.47
 10                  3.02         33947                    14.54
 11                  1.97          9539                    18.24
 12                  2.33          1459                     8.95
 13                  2.58         22475                    17.91
 14                  2.45          6047                    11.93
 15                  2.49          2799                     8.86
 16                  4.20          2621                     3.37
 17                  2.18          2186                     8.71
 18                  2.34          1803                     8.46
 19                  1.86          2456                     8.53
 20                  2.69         17900                    11.20
 21                  2.94         22824                    12.98
 22                  2.77         18434                    16.58
 23                  2.43          8845                    11.15
 24                  2.71           649                     4.27
 25                  4.22          6676                     3.88
 26                  2.50          1033                     9.39
 27                  2.62          1816                     8.77
 28                  2.92          6296                     8.73
 29                  1.95          3375                    15.70
 30                  2.57         25945                    34.83
 31                  2.69          2100                    11.48
 32                  2.38         46397                    16.41
 33                  2.29         13054                     9.81
 34                  1.53           291                    10.03
 35                  2.31         12820                    12.87
 36                  2.52          4918                    29.10
 37                  2.42         21433                    14.66
 38                  2.38         18248                    17.73
 39                  2.95          1966                     7.83
 40                  2.14          3447                     6.89
 41                  2.70           424                     4.76
 42                  2.61          6684                     6.34
 43                  2.74         34239                    11.01
 44                  2.87          6767                    11.24
 45                  2.59          3307                     6.01
 46                  2.35         16505                    12.17
 47                  2.73         41459                    17.40
 48                  2.44           746                     3.52
 49                  1.90          8271                    15.26
 50                  2.73           269                     1.94
 51                  2.58          6296                    11.15  ,
                    State  Charging Locations (1)  Charging Outlets (2)  \
 0                Alabama                      94                   215
 1                 Alaska                       7                    11
 2                Arizona                     429                  1139
 3               Arkansas                      49                   101
 4             California                    4808                 18241
 5               Colorado                     652                  1638
 6            Connecticut                     325                   732
 7               Delaware                      46                   128
 8   District of Columbia                     103                   261
 9                Florida                    1081                  2604
 10               Georgia                     697                  2055
 11                Hawaii                     257                   499
 12                 Idaho                      66                   145
 13              Illinois                     480                  1193
 14               Indiana                     186                   422
 15                  Iowa                     114                   274
 16                Kansas                     174                   739
 17              Kentucky                      92                   189
 18             Louisiana                      77                   184
 19                 Maine                     142                   254
 20              Maryland                     577                  1525
 21         Massachusetts                     571                  1636
 22              Michigan                     411                  1150
 23             Minnesota                     293                   702
 24           Mississippi                      44                   109
 25              Missouri                     386                  1636
 26               Montana                      36                    87
 27              Nebraska                      67                   172
 28                Nevada                     219                   629
 29         New Hampshire                     103                   199
 30            New Jersey                     261                   667
 31            New Mexico                      67                   179
 32              New York                    1042                  2368
 33        North Carolina                     556                  1223
 34          North Dakota                      18                    25
 35                  Ohio                     374                   831
 36              Oklahoma                      49                   148
 37                Oregon                     597                  1409
 38          Pennsylvania                     389                   887
 39          Rhode Island                      86                   248
 40        South Carolina                     223                   467
 41          South Dakota                      29                    73
 42             Tennessee                     401                  1043
 43                 Texas                    1051                  2840
 44                  Utah                     178                   499
 45               Vermont                     183                   487
 46              Virginia                     519                  1270
 47            Washington                     853                  2320
 48         West Virginia                      82                   206
 49             Wisconsin                     267                   494
 50               Wyoming                      44                   120
 51      Total or Average                   19855                 56673

     Outlets Per Location  EV Stock (3)  EVs to Charging Outlets
 0                   2.28          2075                     9.65
 1                   1.57           459                    41.72
 2                   2.65         14720                    12.92
 3                   2.06           970                     9.60
 4                   3.79        441679                    24.21
 5                   2.51         15866                     9.68
 6                   2.25          9132                    12.47
 7                   2.78          1614                    12.60
 8                   2.53          1947                     7.45
 9                   2.40         34410                    13.21
 10                  2.94         31200                    15.18
 11                  1.94          8667                    17.36
 12                  2.19          1197                     8.25
 13                  2.48         18343                    15.37
 14                  2.26          4956                    11.74
 15                  2.40          2346                     8.56
 16                  4.24          2145                     2.90
 17                  2.05          1815                     9.60
 18                  2.38          1473                     8.00
 19                  1.78          2085                     8.20
 20                  2.64         14716                     9.64
 21                  2.86         17859                    10.91
 22                  2.79         16923                    14.71
 23                  2.39          7342                    10.45
 24                  2.47           532                     4.88
 25                  4.23          5584                     3.41
 26                  2.41           894                    10.27
 27                  2.56          1517                     8.81
 28                  2.87          5113                     8.12
 29                  1.93          2774                    13.93
 30                  2.55         21090                    31.61
 31                  2.67          1748                     9.76
 32                  2.27         38480                    16.25
 33                  2.19         10681                     8.73
 34                  1.38           243                     9.72
 35                  2.22         10594                    12.74
 36                  3.02          3084                    20.83
 37                  2.36         18523                    13.14
 38                  2.28         15012                    16.92
 39                  2.88          1647                     6.64
 40                  2.09          2935                     6.28
 41                  2.51           355                     4.86
 42                  2.60          5720                     5.48
 43                  2.70         28796                    10.13
 44                  2.80          5474                    10.96
 45                  2.66          2934                     6.02
 46                  2.44         13145                    10.35
 47                  2.71         35517                    15.30
 48                  2.51           653                     3.16
 49                  1.85          7236                    14.64
 50                  2.72           227                     1.89
 51                  2.85        894447                    15.78  ]

In [5]:
# Slice off desired DataFrame using normal indexing
evStations_df = evStationsTable[0]

# Display DataFrame
evStations_df

,State,Charging Locations (1),Charging Outlets (2),Outlets Per Location,EV Stock (3),EVs to Charging Outlets
0,Alabama,115,268,2.33,2487,9.28
1,Alaska,16,26,1.62,534,20.54
2,Arizona,454,1223,2.69,18129,14.82
3,Arkansas,72,196,2.72,1194,6.09
4,California,5095,19687,3.86,506608,25.73
5,Colorado,692,1857,2.68,19738,10.63
6,Connecticut,335,814,2.43,10916,13.41
7,Delaware,49,159,3.24,1895,11.92
8,District of Columbia,122,340,2.79,2321,6.83
9,Florida,1165,3010,2.58,40548,13.47
10,Georgia,773,2335,3.02,33947,14.54
11,Hawaii,265,523,1.97,9539,18.24
12,Idaho,70,163,2.33,1459,8.95
13,Illinois,487,1255,2.58,22475,17.91
14,Indiana,207,507,2.45,6047,11.93
15,Iowa,127,316,2.49,2799,8.86
16,Kansas,185,777,4.20,2621,3.37
17,Kentucky,115,251,2.18,2186,8.71
18,Louisiana,91,213,2.34,1803,8.46
19,Maine,155,288,1.86,2456,8.53
20,Maryland,593,1598,2.69,17900,11.20
21,Massachusetts,597,1758,2.94,22824,12.98
22,Michigan,401,1112,2.77,18434,16.58
23,Minnesota,326,793,2.43,8845,11.15
24,Mississippi,56,152,2.71,649,4.27
25,Missouri,408,1720,4.22,6676,3.88
26,Montana,44,110,2.50,1033,9.39
27,Nebraska,79,207,2.62,1816,8.77
28,Nevada,247,721,2.92,6296,8.73
29,New Hampshire,110,215,1.95,3375,15.70
30,New Jersey,290,745,2.57,25945,34.83
31,New Mexico,68,183,2.69,2100,11.48
32,New York,1190,2828,2.38,46397,16.41
33,North Carolina,582,1331,2.29,13054,9.81
34,North Dakota,19,29,1.53,291,10.03
35,Ohio,432,996,2.31,12820,12.87
36,Oklahoma,67,169,2.52,4918,29.10
37,Oregon,605,1462,2.42,21433,14.66
38,Pennsylvania,433,1029,2.38,18248,17.73
39,Rhode Island,85,251,2.95,1966,7.83
40,South Carolina,234,500,2.14,3447,6.89
41,South Dakota,33,89,2.70,424,4.76
42,Tennessee,404,1054,2.61,6684,6.34
43,Texas,1134,3109,2.74,34239,11.01
44,Utah,210,602,2.87,6767,11.24
45,Vermont,212,550,2.59,3307,6.01
46,Virginia,578,1356,2.35,16505,12.17
47,Washington,874,2383,2.73,41459,17.40
48,West Virginia,87,212,2.44,746,3.52
49,Wisconsin,285,542,1.90,8271,15.26
50,Wyoming,51,139,2.73,269,1.94
51,Median,234,550,2.58,6296,11.15

In [6]:
# Drop "median" row off DataFrame
evStations_df.drop(evStations_df.tail(1).index, inplace = True)

# Display DataFrame
evStations_df.tail()

,State,Charging Locations (1),Charging Outlets (2),Outlets Per Location,EV Stock (3),EVs to Charging Outlets
46,Virginia,578,1356,2.35,16505,12.17
47,Washington,874,2383,2.73,41459,17.40
48,West Virginia,87,212,2.44,746,3.52
49,Wisconsin,285,542,1.90,8271,15.26
50,Wyoming,51,139,2.73,269,1.94

In [7]:
# Create new DataFrame filtered on desired states
evStations = evStations_df[(evStations_df.State == "Iowa") |
                           (evStations_df.State == "Minnesota") |
                           (evStations_df.State == "North Dakota") |
                           (evStations_df.State == "South Dakota") |
                           (evStations_df.State == "Wisconsin")]

# Reset index in place
evStations.reset_index(inplace = True, drop = True)

# Display DataFrame
evStations

,State,Charging Locations (1),Charging Outlets (2),Outlets Per Location,EV Stock (3),EVs to Charging Outlets
0,Iowa,127,316,2.49,2799,8.86
1,Minnesota,326,793,2.43,8845,11.15
2,North Dakota,19,29,1.53,291,10.03
3,South Dakota,33,89,2.70,424,4.76
4,Wisconsin,285,542,1.90,8271,15.26

In [8]:
# Export to CSV
# evStations.to_csv("chargingStations.csv", index = False, header = True)

# Minnesota Vehicle Miles Traveled (1990-2018)

In [9]:
# Vehicle Miles Traveled
mnVMTURL = "http://www.dot.state.mn.us/roadway/data/data-products.html#VMT"

# This is where the data CSV lives locally:
mnVMTFilepath = "data/minnesotaVMT.csv"

print(f"{mnVMTFilepath} is {round(os.path.getsize(mnVMTFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{mnVMTURL}")

# Read CSV into DataFrame
mnVMTData = pd.read_csv(mnVMTFilepath)

# Display DataFrame
mnVMTData

data/minnesotaVMT.csv is 0.0 megabytes (MB).
More info here:
http://www.dot.state.mn.us/roadway/data/data-products.html#VMT

    Year       MN VMT
0   2018  60438313272
1   2017  59970745402
2   2016  58856547322
3   2015  57795772499
4   2014  57393220230
5   2013  56993471770
6   2012  57018582582
7   2011  56675049785
8   2010  56762480425
9   2009  56970430780
10  2008  57296572026
11  2007  57409995170
12  2006  56603273630
13  2005  56520774505
14  2004  56483471916
15  2003  55413326180
16  2002  54401389960
17  2001  53233950965
18  2000  52109352480
19  1999  50864384105
20  1998  49711668480
21  1997  48090575365
22  1996  45821088180
23  1995  44117498900
24  1994  43262537865
25  1993  42473511890
26  1992  41685288180
27  1991  39301381935
28  1990  39216794645

# Minnesota Total Gasoline All Sales (1990-2018)

In [10]:
# Total Gasoline
mnGasURL = "https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020271&f=A"

# This is where the data CSV lives locally:
mnGasFilepath = "data/mnFuelConsumption.csv"

print(f"{mnGasFilepath} is {round(os.path.getsize(mnGasFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{mnGasURL}")

# Read CSV into DataFrame
mnGasData = pd.read_csv(mnGasFilepath)

# Display DataFrame
mnGasData

data/mnFuelConsumption.csv is 0.0 megabytes (MB).
More info here:
https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020271&f=A

    Year  MN Gas
0   1990  5409.4
1   1991  5390.1
2   1992  5429.6
3   1993  5594.5
4   1994  5902.9
5   1995  6080.0
6   1996  6234.2
7   1997  6316.1
8   1998  6274.9
9   1999  6592.6
10  2000  6714.0
11  2001  6813.6
12  2002  6777.8
13  2003  6986.7
14  2004  7354.6
15  2005  7215.2
16  2006  7046.9
17  2007  7000.6
18  2008  6113.8
19  2009  6061.3
20  2010  6073.4
21  2011  6042.6
22  2012  6205.5
23  2013  6316.3
24  2014  6268.6
25  2015  6483.2
26  2016  6592.5
27  2017  6382.7
28  2018  6218.3

In [11]:
# Multiply by 1,000 and 365.25 (CSV values are stated in thousand gallons per day)
mnGasData["MN Gas"] = (mnGasData["MN Gas"] * 1000) * 365.25

# Sort by year
mnGasData = mnGasData.sort_values("Year", ascending = False)

# Reset index in place
mnGasData.reset_index(inplace = True, drop = True)

# Display DataFrame
mnGasData

    Year        MN Gas
0   2018  2.271234e+09
1   2017  2.331281e+09
2   2016  2.407911e+09
3   2015  2.367989e+09
4   2014  2.289606e+09
5   2013  2.307029e+09
6   2012  2.266559e+09
7   2011  2.207060e+09
8   2010  2.218309e+09
9   2009  2.213890e+09
10  2008  2.233065e+09
11  2007  2.556969e+09
12  2006  2.573880e+09
13  2005  2.635352e+09
14  2004  2.686268e+09
15  2003  2.551892e+09
16  2002  2.475591e+09
17  2001  2.488667e+09
18  2000  2.452288e+09
19  1999  2.407947e+09
20  1998  2.291907e+09
21  1997  2.306956e+09
22  1996  2.277042e+09
23  1995  2.220720e+09
24  1994  2.156034e+09
25  1993  2.043391e+09
26  1992  1.983161e+09
27  1991  1.968734e+09
28  1990  1.975783e+09

In [12]:
# Merge DataFrames
milesGas = pd.merge(mnVMTData, mnGasData, how = "outer", left_on = "Year", right_on = "Year", on = None, sort = False,
                    copy = True, indicator = False, validate = None)
# Display DataFrame
milesGas

    Year       MN VMT        MN Gas
0   2018  60438313272  2.271234e+09
1   2017  59970745402  2.331281e+09
2   2016  58856547322  2.407911e+09
3   2015  57795772499  2.367989e+09
4   2014  57393220230  2.289606e+09
5   2013  56993471770  2.307029e+09
6   2012  57018582582  2.266559e+09
7   2011  56675049785  2.207060e+09
8   2010  56762480425  2.218309e+09
9   2009  56970430780  2.213890e+09
10  2008  57296572026  2.233065e+09
11  2007  57409995170  2.556969e+09
12  2006  56603273630  2.573880e+09
13  2005  56520774505  2.635352e+09
14  2004  56483471916  2.686268e+09
15  2003  55413326180  2.551892e+09
16  2002  54401389960  2.475591e+09
17  2001  53233950965  2.488667e+09
18  2000  52109352480  2.452288e+09
19  1999  50864384105  2.407947e+09
20  1998  49711668480  2.291907e+09
21  1997  48090575365  2.306956e+09
22  1996  45821088180  2.277042e+09
23  1995  44117498900  2.220720e+09
24  1994  43262537865  2.156034e+09
25  1993  42473511890  2.043391e+09
26  1992  41685288180  1.983161e+09
27  1991  39301381935  1.968734e+09
28  1990  39216794645  1.975783e+09

# Iowa Vehicle Miles Traveled (1990-2018)

In [13]:
# Vehicle Miles Traveled
iaVMTURL = "https://iowadot.gov/maps/msp/vmt/30yearvmt.pdf"

# This is where the data CSV lives locally:
iaVMTFilepath = "data/iowaVMT.csv"

print(f"{iaVMTFilepath} is {round(os.path.getsize(iaVMTFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{iaVMTURL}")

# Read CSV into DataFrame
iaVMTData = pd.read_csv(iaVMTFilepath)

# Display DataFrame
iaVMTData

data/iowaVMT.csv is 0.0 megabytes (MB).
More info here:
https://iowadot.gov/maps/msp/vmt/30yearvmt.pdf

    Year  IA VMT  U.S. Total
0   1990   23165     2147501
1   1991   23572     2172214
2   1992   24411     2247152
3   1993   25396     2296705
4   1994   26039     2357587
5   1995   26658     2422776
6   1996   27587     2482201
7   1997   28404     2560373
8   1998   29192     2625363
9   1999   29726     2679459
10  2000   29821     2746926
11  2001   30461     2795611
12  2002   31361     2855509
13  2003   31597     2890222
14  2004   31971     2964789
15  2005   31568     2989430
16  2006   31733     3014116
17  2007   31481     3029822
18  2008   30954     2973509
19  2009   31295     2956764
20  2010   31579     2967266
21  2011   31411     2950402
22  2012   31581     2968570
23  2013   31542     2988280
24  2014   32332     3025656
25  2015   33109     3095373
26  2016   33263     3174408
27  2017   33751     3212347
28  2018   33507     3240327

In [14]:
# Multiply values by 1,000,000
iaVMTData["IA VMT"] = iaVMTData["IA VMT"] * 1000000
iaVMTData["U.S. Total"] = iaVMTData["U.S. Total"] * 1000000

# Sort by year
iaVMTData = iaVMTData.sort_values("Year", ascending = False)

# Reset index in place
iaVMTData.reset_index(inplace = True, drop = True)

# Display DataFrame
iaVMTData

    Year       IA VMT     U.S. Total
0   2018  33507000000  3240327000000
1   2017  33751000000  3212347000000
2   2016  33263000000  3174408000000
3   2015  33109000000  3095373000000
4   2014  32332000000  3025656000000
5   2013  31542000000  2988280000000
6   2012  31581000000  2968570000000
7   2011  31411000000  2950402000000
8   2010  31579000000  2967266000000
9   2009  31295000000  2956764000000
10  2008  30954000000  2973509000000
11  2007  31481000000  3029822000000
12  2006  31733000000  3014116000000
13  2005  31568000000  2989430000000
14  2004  31971000000  2964789000000
15  2003  31597000000  2890222000000
16  2002  31361000000  2855509000000
17  2001  30461000000  2795611000000
18  2000  29821000000  2746926000000
19  1999  29726000000  2679459000000
20  1998  29192000000  2625363000000
21  1997  28404000000  2560373000000
22  1996  27587000000  2482201000000
23  1995  26658000000  2422776000000
24  1994  26039000000  2357587000000
25  1993  25396000000  2296705000000
26  1992  24411000000  2247152000000
27  1991  23572000000  2172214000000
28  1990  23165000000  2147501000000

In [15]:
# Merge DataFrames
milesGas = milesGas.merge(iaVMTData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

    Year       MN VMT        MN Gas       IA VMT     U.S. Total
0   2018  60438313272  2.271234e+09  33507000000  3240327000000
1   2017  59970745402  2.331281e+09  33751000000  3212347000000
2   2016  58856547322  2.407911e+09  33263000000  3174408000000
3   2015  57795772499  2.367989e+09  33109000000  3095373000000
4   2014  57393220230  2.289606e+09  32332000000  3025656000000
5   2013  56993471770  2.307029e+09  31542000000  2988280000000
6   2012  57018582582  2.266559e+09  31581000000  2968570000000
7   2011  56675049785  2.207060e+09  31411000000  2950402000000
8   2010  56762480425  2.218309e+09  31579000000  2967266000000
9   2009  56970430780  2.213890e+09  31295000000  2956764000000
10  2008  57296572026  2.233065e+09  30954000000  2973509000000
11  2007  57409995170  2.556969e+09  31481000000  3029822000000
12  2006  56603273630  2.573880e+09  31733000000  3014116000000
13  2005  56520774505  2.635352e+09  31568000000  2989430000000
14  2004  56483471916  2.686268e+09  31971000000  2964789000000
15  2003  55413326180  2.551892e+09  31597000000  2890222000000
16  2002  54401389960  2.475591e+09  31361000000  2855509000000
17  2001  53233950965  2.488667e+09  30461000000  2795611000000
18  2000  52109352480  2.452288e+09  29821000000  2746926000000
19  1999  50864384105  2.407947e+09  29726000000  2679459000000
20  1998  49711668480  2.291907e+09  29192000000  2625363000000
21  1997  48090575365  2.306956e+09  28404000000  2560373000000
22  1996  45821088180  2.277042e+09  27587000000  2482201000000
23  1995  44117498900  2.220720e+09  26658000000  2422776000000
24  1994  43262537865  2.156034e+09  26039000000  2357587000000
25  1993  42473511890  2.043391e+09  25396000000  2296705000000
26  1992  41685288180  1.983161e+09  24411000000  2247152000000
27  1991  39301381935  1.968734e+09  23572000000  2172214000000
28  1990  39216794645  1.975783e+09  23165000000  2147501000000

# Iowa Total Gasoline All Sales (1990-2018)

In [16]:
# Total Gasoline
iaGasURL = "https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020191&f=A"

# This is where the data CSV lives locally:
iaGasFilepath = "data/iaFuelConsumption.csv"

print(f"{iaGasFilepath} is {round(os.path.getsize(iaGasFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{iaGasURL}")

# Read CSV into DataFrame
iaGasData = pd.read_csv(iaGasFilepath)

# Display DataFrame
iaGasData

data/iaFuelConsumption.csv is 0.0 megabytes (MB).
More info here:
https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020191&f=A

    Year  IA Gas
0   1990  3886.9
1   1991  3780.7
2   1992  3782.3
3   1993  3795.5
4   1994  3920.9
5   1995  3870.9
6   1996  4005.6
7   1997  4017.1
8   1998  4080.0
9   1999  4272.0
10  2000  4096.3
11  2001  4132.8
12  2002  4229.3
13  2003  4272.3
14  2004  4480.6
15  2005  4314.0
16  2006  3843.0
17  2007  3696.9
18  2008  3535.2
19  2009  3571.0
20  2010  3798.7
21  2011  3670.6
22  2012  3561.8
23  2013  3454.1
24  2014  3247.1
25  2015  3146.1
26  2016  3280.9
27  2017  3235.2
28  2018  3122.4

In [17]:
# Multiply by 1,000 and 365.25 (CSV values are stated in thousand gallons per day)
iaGasData["IA Gas"] = (iaGasData["IA Gas"] * 1000) * 365.25

# Sort by year
iaGasData = iaGasData.sort_values("Year", ascending = False)

# Reset index in place
iaGasData.reset_index(inplace = True, drop = True)

# Display DataFrame
iaGasData

    Year        IA Gas
0   2018  1.140457e+09
1   2017  1.181657e+09
2   2016  1.198349e+09
3   2015  1.149113e+09
4   2014  1.186003e+09
5   2013  1.261610e+09
6   2012  1.300947e+09
7   2011  1.340687e+09
8   2010  1.387475e+09
9   2009  1.304308e+09
10  2008  1.291232e+09
11  2007  1.350293e+09
12  2006  1.403656e+09
13  2005  1.575688e+09
14  2004  1.636539e+09
15  2003  1.560458e+09
16  2002  1.544752e+09
17  2001  1.509505e+09
18  2000  1.496174e+09
19  1999  1.560348e+09
20  1998  1.490220e+09
21  1997  1.467246e+09
22  1996  1.463045e+09
23  1995  1.413846e+09
24  1994  1.432109e+09
25  1993  1.386306e+09
26  1992  1.381485e+09
27  1991  1.380901e+09
28  1990  1.419690e+09

In [18]:
# Merge DataFrames
milesGas = milesGas.merge(iaGasData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

    Year       MN VMT        MN Gas       IA VMT     U.S. Total        IA Gas
0   2018  60438313272  2.271234e+09  33507000000  3240327000000  1.140457e+09
1   2017  59970745402  2.331281e+09  33751000000  3212347000000  1.181657e+09
2   2016  58856547322  2.407911e+09  33263000000  3174408000000  1.198349e+09
3   2015  57795772499  2.367989e+09  33109000000  3095373000000  1.149113e+09
4   2014  57393220230  2.289606e+09  32332000000  3025656000000  1.186003e+09
5   2013  56993471770  2.307029e+09  31542000000  2988280000000  1.261610e+09
6   2012  57018582582  2.266559e+09  31581000000  2968570000000  1.300947e+09
7   2011  56675049785  2.207060e+09  31411000000  2950402000000  1.340687e+09
8   2010  56762480425  2.218309e+09  31579000000  2967266000000  1.387475e+09
9   2009  56970430780  2.213890e+09  31295000000  2956764000000  1.304308e+09
10  2008  57296572026  2.233065e+09  30954000000  2973509000000  1.291232e+09
11  2007  57409995170  2.556969e+09  31481000000  3029822000000  1.350293e+09
12  2006  56603273630  2.573880e+09  31733000000  3014116000000  1.403656e+09
13  2005  56520774505  2.635352e+09  31568000000  2989430000000  1.575688e+09
14  2004  56483471916  2.686268e+09  31971000000  2964789000000  1.636539e+09
15  2003  55413326180  2.551892e+09  31597000000  2890222000000  1.560458e+09
16  2002  54401389960  2.475591e+09  31361000000  2855509000000  1.544752e+09
17  2001  53233950965  2.488667e+09  30461000000  2795611000000  1.509505e+09
18  2000  52109352480  2.452288e+09  29821000000  2746926000000  1.496174e+09
19  1999  50864384105  2.407947e+09  29726000000  2679459000000  1.560348e+09
20  1998  49711668480  2.291907e+09  29192000000  2625363000000  1.490220e+09
21  1997  48090575365  2.306956e+09  28404000000  2560373000000  1.467246e+09
22  1996  45821088180  2.277042e+09  27587000000  2482201000000  1.463045e+09
23  1995  44117498900  2.220720e+09  26658000000  2422776000000  1.413846e+09
24  1994  43262537865  2.156034e+09  26039000000  2357587000000  1.432109e+09
25  1993  42473511890  2.043391e+09  25396000000  2296705000000  1.386306e+09
26  1992  41685288180  1.983161e+09  24411000000  2247152000000  1.381485e+09
27  1991  39301381935  1.968734e+09  23572000000  2172214000000  1.380901e+09
28  1990  39216794645  1.975783e+09  23165000000  2147501000000  1.419690e+09

# North Dakota Vehicle Miles Traveled (1990-2018)

In [19]:
# Vehicle Miles Traveled
ndVMTURL = "https://www.dot.nd.gov/business/docs/trafficreports/Annual-Traffic-Report-2019.pdf"

# This is where the data CSV lives locally:
ndVMTFilepath = "data/northdakotaVMT.csv"

print(f"{ndVMTFilepath} is {round(os.path.getsize(ndVMTFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{ndVMTURL}")

# Read CSV into DataFrame
ndVMTData = pd.read_csv(ndVMTFilepath)

# Display DataFrame
ndVMTData

data/northdakotaVMT.csv is 0.0 megabytes (MB).
More info here:
https://www.dot.nd.gov/business/docs/trafficreports/Annual-Traffic-Report-2019.pdf

    Year  ND VMT
0   1990    5957
1   1991    5999
2   1992    6105
3   1993    6204
4   1994    6388
5   1995    6546
6   1996    6767
7   1997    6942
8   1998    7093
9   1999    7101
10  2000    7061
11  2001    7084
12  2002    7095
13  2003    7290
14  2004    7439
15  2005    7443
16  2006    7664
17  2007    7663
18  2008    7608
19  2009    7943
20  2010    8303
21  2011    9166
22  2012   10093
23  2013   10100
24  2014   10437
25  2015   10079
26  2016    9740
27  2017    9703
28  2018    9866

In [20]:
# Multiply values by 1,000,000
ndVMTData["ND VMT"] = ndVMTData["ND VMT"] * 1000000

# Sort by year
ndVMTData = ndVMTData.sort_values("Year", ascending = False)

# Reset index in place
ndVMTData.reset_index(inplace = True, drop = True)

# Display DataFrame
ndVMTData

    Year       ND VMT
0   2018   9866000000
1   2017   9703000000
2   2016   9740000000
3   2015  10079000000
4   2014  10437000000
5   2013  10100000000
6   2012  10093000000
7   2011   9166000000
8   2010   8303000000
9   2009   7943000000
10  2008   7608000000
11  2007   7663000000
12  2006   7664000000
13  2005   7443000000
14  2004   7439000000
15  2003   7290000000
16  2002   7095000000
17  2001   7084000000
18  2000   7061000000
19  1999   7101000000
20  1998   7093000000
21  1997   6942000000
22  1996   6767000000
23  1995   6546000000
24  1994   6388000000
25  1993   6204000000
26  1992   6105000000
27  1991   5999000000
28  1990   5957000000

In [21]:
# Merge DataFrames
milesGas = milesGas.merge(ndVMTData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

,Year,MN VMT,MN Gas,IA VMT,U.S. Total,IA Gas,ND VMT
0,2018,60438313272,2.271234e+09,33507000000,3240327000000,1.140457e+09,9866000000
1,2017,59970745402,2.331281e+09,33751000000,3212347000000,1.181657e+09,9703000000
2,2016,58856547322,2.407911e+09,33263000000,3174408000000,1.198349e+09,9740000000
3,2015,57795772499,2.367989e+09,33109000000,3095373000000,1.149113e+09,10079000000
4,2014,57393220230,2.289606e+09,32332000000,3025656000000,1.186003e+09,10437000000
5,2013,56993471770,2.307029e+09,31542000000,2988280000000,1.261610e+09,10100000000
6,2012,57018582582,2.266559e+09,31581000000,2968570000000,1.300947e+09,10093000000
7,2011,56675049785,2.207060e+09,31411000000,2950402000000,1.340687e+09,9166000000
8,2010,56762480425,2.218309e+09,31579000000,2967266000000,1.387475e+09,8303000000
9,2009,56970430780,2.213890e+09,31295000000,2956764000000,1.304308e+09,7943000000
10,2008,57296572026,2.233065e+09,30954000000,2973509000000,1.291232e+09,7608000000
11,2007,57409995170,2.556969e+09,31481000000,3029822000000,1.350293e+09,7663000000
12,2006,56603273630,2.573880e+09,31733000000,3014116000000,1.403656e+09,7664000000
13,2005,56520774505,2.635352e+09,31568000000,2989430000000,1.575688e+09,7443000000
14,2004,56483471916,2.686268e+09,31971000000,2964789000000,1.636539e+09,7439000000
15,2003,55413326180,2.551892e+09,31597000000,2890222000000,1.560458e+09,7290000000
16,2002,54401389960,2.475591e+09,31361000000,2855509000000,1.544752e+09,7095000000
17,2001,53233950965,2.488667e+09,30461000000,2795611000000,1.509505e+09,7084000000
18,2000,52109352480,2.452288e+09,29821000000,2746926000000,1.496174e+09,7061000000
19,1999,50864384105,2.407947e+09,29726000000,2679459000000,1.560348e+09,7101000000
20,1998,49711668480,2.291907e+09,29192000000,2625363000000,1.490220e+09,7093000000
21,1997,48090575365,2.306956e+09,28404000000,2560373000000,1.467246e+09,6942000000
22,1996,45821088180,2.277042e+09,27587000000,2482201000000,1.463045e+09,6767000000
23,1995,44117498900,2.220720e+09,26658000000,2422776000000,1.413846e+09,6546000000
24,1994,43262537865,2.156034e+09,26039000000,2357587000000,1.432109e+09,6388000000
25,1993,42473511890,2.043391e+09,25396000000,2296705000000,1.386306e+09,6204000000
26,1992,41685288180,1.983161e+09,24411000000,2247152000000,1.381485e+09,6105000000
27,1991,39301381935,1.968734e+09,23572000000,2172214000000,1.380901e+09,5999000000
28,1990,39216794645,1.975783e+09,23165000000,2147501000000,1.419690e+09,5957000000

# North Dakota Total Gasoline All Sales (1990-2018)

In [22]:
# Total Gasoline
ndGasURL = "https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020381&f=A"

# This is where the data CSV lives locally:
ndGasFilepath = "data/ndFuelConsumption.csv"

print(f"{ndGasFilepath} is {round(os.path.getsize(ndGasFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{ndGasURL}")

# Read CSV into DataFrame
ndGasData = pd.read_csv(ndGasFilepath)

# Display DataFrame
ndGasData

data/ndFuelConsumption.csv is 0.0 megabytes (MB).
More info here:
https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020381&f=A

    Year  ND Gas
0   1990   876.5
1   1991   884.7
2   1992   917.1
3   1993   988.8
4   1994   998.1
5   1995  1011.6
6   1996   977.8
7   1997   992.3
8   1998  1022.7
9   1999  1039.4
10  2000   983.3
11  2001   949.0
12  2002   931.2
13  2003   903.6
14  2004   959.7
15  2005   914.7
16  2006   936.3
17  2007   899.5
18  2008   887.8
19  2009   947.8
20  2010  1014.1
21  2011  1071.4
22  2012  1142.1
23  2013  1191.7
24  2014  1214.7
25  2015  1179.8
26  2016  1095.3
27  2017  1101.1
28  2018  1086.5

In [23]:
# Multiply by 1,000 and 365.25 (CSV values are stated in thousand gallons per day)
ndGasData["ND Gas"] = (ndGasData["ND Gas"] * 1000) * 365.25

# Sort by year
ndGasData = ndGasData.sort_values("Year", ascending = False)

# Reset index in place
ndGasData.reset_index(inplace = True, drop = True)

# Display DataFrame
ndGasData

    Year       ND Gas
0   2018  396844125.0
1   2017  402176775.0
2   2016  400058325.0
3   2015  430921950.0
4   2014  443669175.0
5   2013  435268425.0
6   2012  417152025.0
7   2011  391328850.0
8   2010  370400025.0
9   2009  346183950.0
10  2008  324268950.0
11  2007  328542375.0
12  2006  341983575.0
13  2005  334094175.0
14  2004  350530425.0
15  2003  330039900.0
16  2002  340120800.0
17  2001  346622250.0
18  2000  359150325.0
19  1999  379640850.0
20  1998  373541175.0
21  1997  362437575.0
22  1996  357141450.0
23  1995  369486900.0
24  1994  364556025.0
25  1993  361159200.0
26  1992  334970775.0
27  1991  323136675.0
28  1990  320141625.0

In [24]:
# Merge DataFrames
milesGas = milesGas.merge(ndGasData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

,Year,MN VMT,MN Gas,IA VMT,U.S. Total,IA Gas,ND VMT,ND Gas
0,2018,60438313272,2.271234e+09,33507000000,3240327000000,1.140457e+09,9866000000,396844125.0
1,2017,59970745402,2.331281e+09,33751000000,3212347000000,1.181657e+09,9703000000,402176775.0
2,2016,58856547322,2.407911e+09,33263000000,3174408000000,1.198349e+09,9740000000,400058325.0
3,2015,57795772499,2.367989e+09,33109000000,3095373000000,1.149113e+09,10079000000,430921950.0
4,2014,57393220230,2.289606e+09,32332000000,3025656000000,1.186003e+09,10437000000,443669175.0
5,2013,56993471770,2.307029e+09,31542000000,2988280000000,1.261610e+09,10100000000,435268425.0
6,2012,57018582582,2.266559e+09,31581000000,2968570000000,1.300947e+09,10093000000,417152025.0
7,2011,56675049785,2.207060e+09,31411000000,2950402000000,1.340687e+09,9166000000,391328850.0
8,2010,56762480425,2.218309e+09,31579000000,2967266000000,1.387475e+09,8303000000,370400025.0
9,2009,56970430780,2.213890e+09,31295000000,2956764000000,1.304308e+09,7943000000,346183950.0
10,2008,57296572026,2.233065e+09,30954000000,2973509000000,1.291232e+09,7608000000,324268950.0
11,2007,57409995170,2.556969e+09,31481000000,3029822000000,1.350293e+09,7663000000,328542375.0
12,2006,56603273630,2.573880e+09,31733000000,3014116000000,1.403656e+09,7664000000,341983575.0
13,2005,56520774505,2.635352e+09,31568000000,2989430000000,1.575688e+09,7443000000,334094175.0
14,2004,56483471916,2.686268e+09,31971000000,2964789000000,1.636539e+09,7439000000,350530425.0
15,2003,55413326180,2.551892e+09,31597000000,2890222000000,1.560458e+09,7290000000,330039900.0
16,2002,54401389960,2.475591e+09,31361000000,2855509000000,1.544752e+09,7095000000,340120800.0
17,2001,53233950965,2.488667e+09,30461000000,2795611000000,1.509505e+09,7084000000,346622250.0
18,2000,52109352480,2.452288e+09,29821000000,2746926000000,1.496174e+09,7061000000,359150325.0
19,1999,50864384105,2.407947e+09,29726000000,2679459000000,1.560348e+09,7101000000,379640850.0
20,1998,49711668480,2.291907e+09,29192000000,2625363000000,1.490220e+09,7093000000,373541175.0
21,1997,48090575365,2.306956e+09,28404000000,2560373000000,1.467246e+09,6942000000,362437575.0
22,1996,45821088180,2.277042e+09,27587000000,2482201000000,1.463045e+09,6767000000,357141450.0
23,1995,44117498900,2.220720e+09,26658000000,2422776000000,1.413846e+09,6546000000,369486900.0
24,1994,43262537865,2.156034e+09,26039000000,2357587000000,1.432109e+09,6388000000,364556025.0
25,1993,42473511890,2.043391e+09,25396000000,2296705000000,1.386306e+09,6204000000,361159200.0
26,1992,41685288180,1.983161e+09,24411000000,2247152000000,1.381485e+09,6105000000,334970775.0
27,1991,39301381935,1.968734e+09,23572000000,2172214000000,1.380901e+09,5999000000,323136675.0
28,1990,39216794645,1.975783e+09,23165000000,2147501000000,1.419690e+09,5957000000,320141625.0

# South Dakota Vehicle Miles Traveled (1990-2018)

In [25]:
# Vehicle Miles Traveled
sdVMTURL = "https://dot.sd.gov/transportation/highways/traffic"

# This is where the data CSV lives locally:
sdVMTFilepath = "data/southdakotaVMT.csv"

print(f"{sdVMTFilepath} is {round(os.path.getsize(sdVMTFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{sdVMTURL}")

# Read CSV into DataFrame
sdVMTData = pd.read_csv(sdVMTFilepath)

# Display DataFrame
sdVMTData

data/southdakotaVMT.csv is 0.0 megabytes (MB).
More info here:
https://dot.sd.gov/transportation/highways/traffic

    Year  SD VMT  Unnamed: 2
0   1990    6985         NaN
1   1991    6690         NaN
2   1992    7176         NaN
3   1993    7352         NaN
4   1994    7550         NaN
5   1995    7569         NaN
6   1996    7696         NaN
7   1997    7797         NaN
8   1998    7931         NaN
9   1999    8054         NaN
10  2000    8227         NaN
11  2001    8540         NaN
12  2002    8494         NaN
13  2003    8516         NaN
14  2004    8771         NaN
15  2005    8383         NaN
16  2006    9150         NaN
17  2007    8988         NaN
18  2008    8470         NaN
19  2009    8740         NaN
20  2010    8861         NaN
21  2011    8993         NaN
22  2012    9077         NaN
23  2013    9114         NaN
24  2014    9226         NaN
25  2015    9325         NaN
26  2016    9508         NaN
27  2017    9638         NaN
28  2018    9736         NaN

In [26]:
# Drop unnecessary column
sdVMTData.drop(columns = ["Unnamed: 2"], inplace = True)

# Display DataFrame
sdVMTData.head()

   Year  SD VMT
0  1990    6985
1  1991    6690
2  1992    7176
3  1993    7352
4  1994    7550

In [27]:
# Multiply values by 1,000,000
sdVMTData["SD VMT"] = sdVMTData["SD VMT"] * 1000000

# Sort by year
sdVMTData = sdVMTData.sort_values("Year", ascending = False)

# Reset index in place
sdVMTData.reset_index(inplace = True, drop = True)

# Display DataFrame
sdVMTData

    Year      SD VMT
0   2018  9736000000
1   2017  9638000000
2   2016  9508000000
3   2015  9325000000
4   2014  9226000000
5   2013  9114000000
6   2012  9077000000
7   2011  8993000000
8   2010  8861000000
9   2009  8740000000
10  2008  8470000000
11  2007  8988000000
12  2006  9150000000
13  2005  8383000000
14  2004  8771000000
15  2003  8516000000
16  2002  8494000000
17  2001  8540000000
18  2000  8227000000
19  1999  8054000000
20  1998  7931000000
21  1997  7797000000
22  1996  7696000000
23  1995  7569000000
24  1994  7550000000
25  1993  7352000000
26  1992  7176000000
27  1991  6690000000
28  1990  6985000000

In [28]:
# Merge DataFrames
milesGas = milesGas.merge(sdVMTData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

,Year,MN VMT,MN Gas,IA VMT,U.S. Total,IA Gas,ND VMT,ND Gas,SD VMT
0,2018,60438313272,2.271234e+09,33507000000,3240327000000,1.140457e+09,9866000000,396844125.0,9736000000
1,2017,59970745402,2.331281e+09,33751000000,3212347000000,1.181657e+09,9703000000,402176775.0,9638000000
2,2016,58856547322,2.407911e+09,33263000000,3174408000000,1.198349e+09,9740000000,400058325.0,9508000000
3,2015,57795772499,2.367989e+09,33109000000,3095373000000,1.149113e+09,10079000000,430921950.0,9325000000
4,2014,57393220230,2.289606e+09,32332000000,3025656000000,1.186003e+09,10437000000,443669175.0,9226000000
5,2013,56993471770,2.307029e+09,31542000000,2988280000000,1.261610e+09,10100000000,435268425.0,9114000000
6,2012,57018582582,2.266559e+09,31581000000,2968570000000,1.300947e+09,10093000000,417152025.0,9077000000
7,2011,56675049785,2.207060e+09,31411000000,2950402000000,1.340687e+09,9166000000,391328850.0,8993000000
8,2010,56762480425,2.218309e+09,31579000000,2967266000000,1.387475e+09,8303000000,370400025.0,8861000000
9,2009,56970430780,2.213890e+09,31295000000,2956764000000,1.304308e+09,7943000000,346183950.0,8740000000
10,2008,57296572026,2.233065e+09,30954000000,2973509000000,1.291232e+09,7608000000,324268950.0,8470000000
11,2007,57409995170,2.556969e+09,31481000000,3029822000000,1.350293e+09,7663000000,328542375.0,8988000000
12,2006,56603273630,2.573880e+09,31733000000,3014116000000,1.403656e+09,7664000000,341983575.0,9150000000
13,2005,56520774505,2.635352e+09,31568000000,2989430000000,1.575688e+09,7443000000,334094175.0,8383000000
14,2004,56483471916,2.686268e+09,31971000000,2964789000000,1.636539e+09,7439000000,350530425.0,8771000000
15,2003,55413326180,2.551892e+09,31597000000,2890222000000,1.560458e+09,7290000000,330039900.0,8516000000
16,2002,54401389960,2.475591e+09,31361000000,2855509000000,1.544752e+09,7095000000,340120800.0,8494000000
17,2001,53233950965,2.488667e+09,30461000000,2795611000000,1.509505e+09,7084000000,346622250.0,8540000000
18,2000,52109352480,2.452288e+09,29821000000,2746926000000,1.496174e+09,7061000000,359150325.0,8227000000
19,1999,50864384105,2.407947e+09,29726000000,2679459000000,1.560348e+09,7101000000,379640850.0,8054000000
20,1998,49711668480,2.291907e+09,29192000000,2625363000000,1.490220e+09,7093000000,373541175.0,7931000000
21,1997,48090575365,2.306956e+09,28404000000,2560373000000,1.467246e+09,6942000000,362437575.0,7797000000
22,1996,45821088180,2.277042e+09,27587000000,2482201000000,1.463045e+09,6767000000,357141450.0,7696000000
23,1995,44117498900,2.220720e+09,26658000000,2422776000000,1.413846e+09,6546000000,369486900.0,7569000000
24,1994,43262537865,2.156034e+09,26039000000,2357587000000,1.432109e+09,6388000000,364556025.0,7550000000
25,1993,42473511890,2.043391e+09,25396000000,2296705000000,1.386306e+09,6204000000,361159200.0,7352000000
26,1992,41685288180,1.983161e+09,24411000000,2247152000000,1.381485e+09,6105000000,334970775.0,7176000000
27,1991,39301381935,1.968734e+09,23572000000,2172214000000,1.380901e+09,5999000000,323136675.0,6690000000
28,1990,39216794645,1.975783e+09,23165000000,2147501000000,1.419690e+09,5957000000,320141625.0,6985000000

# South Dakota Total Gasoline All Sales (1990-2018)

In [29]:
# Total Gasoline
sdGasURL = "https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020461&f=A"

# This is where the data CSV lives locally:
sdGasFilepath = "data/sdFuelConsumption.csv"

print(f"{sdGasFilepath} is {round(os.path.getsize(sdGasFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{sdGasURL}")

# Read CSV into DataFrame
sdGasData = pd.read_csv(sdGasFilepath)

# Display DataFrame
sdGasData

data/sdFuelConsumption.csv is 0.0 megabytes (MB).
More info here:
https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020461&f=A

    Year  SD Gas
0   1990  1030.4
1   1991  1041.8
2   1992  1100.8
3   1993  1106.0
4   1994  1146.5
5   1995  1120.0
6   1996  1134.7
7   1997  1134.2
8   1998  1208.1
9   1999  1155.7
10  2000  1150.8
11  2001  1164.7
12  2002  1176.8
13  2003  1176.2
14  2004  1188.7
15  2005  1161.7
16  2006  1155.1
17  2007  1188.4
18  2008  1122.0
19  2009  1161.5
20  2010  1203.1
21  2011  1211.9
22  2012  1131.8
23  2013  1183.2
24  2014  1125.4
25  2015  1144.6
26  2016  1169.2
27  2017  1208.0
28  2018  1240.8

In [30]:
# Multiply by 1,000 and 365.25 (CSV values are stated in thousand gallons per day)
sdGasData["SD Gas"] = (sdGasData["SD Gas"] * 1000) * 365.25

# Sort by year
sdGasData = sdGasData.sort_values("Year", ascending = False)

# Reset index in place
sdGasData.reset_index(inplace = True, drop = True)

# Display DataFrame
sdGasData

    Year       SD Gas
0   2018  453202200.0
1   2017  441222000.0
2   2016  427050300.0
3   2015  418065150.0
4   2014  411052350.0
5   2013  432163800.0
6   2012  413389950.0
7   2011  442646475.0
8   2010  439432275.0
9   2009  424237875.0
10  2008  409810500.0
11  2007  434063100.0
12  2006  421900275.0
13  2005  424310925.0
14  2004  434172675.0
15  2003  429607050.0
16  2002  429826200.0
17  2001  425406675.0
18  2000  420329700.0
19  1999  422119425.0
20  1998  441258525.0
21  1997  414266550.0
22  1996  414449175.0
23  1995  409080000.0
24  1994  418759125.0
25  1993  403966500.0
26  1992  402067200.0
27  1991  380517450.0
28  1990  376353600.0

In [31]:
# Merge DataFrames
milesGas = milesGas.merge(sdGasData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

,Year,MN VMT,MN Gas,IA VMT,U.S. Total,IA Gas,ND VMT,ND Gas,SD VMT,SD Gas
0,2018,60438313272,2.271234e+09,33507000000,3240327000000,1.140457e+09,9866000000,396844125.0,9736000000,453202200.0
1,2017,59970745402,2.331281e+09,33751000000,3212347000000,1.181657e+09,9703000000,402176775.0,9638000000,441222000.0
2,2016,58856547322,2.407911e+09,33263000000,3174408000000,1.198349e+09,9740000000,400058325.0,9508000000,427050300.0
3,2015,57795772499,2.367989e+09,33109000000,3095373000000,1.149113e+09,10079000000,430921950.0,9325000000,418065150.0
4,2014,57393220230,2.289606e+09,32332000000,3025656000000,1.186003e+09,10437000000,443669175.0,9226000000,411052350.0
5,2013,56993471770,2.307029e+09,31542000000,2988280000000,1.261610e+09,10100000000,435268425.0,9114000000,432163800.0
6,2012,57018582582,2.266559e+09,31581000000,2968570000000,1.300947e+09,10093000000,417152025.0,9077000000,413389950.0
7,2011,56675049785,2.207060e+09,31411000000,2950402000000,1.340687e+09,9166000000,391328850.0,8993000000,442646475.0
8,2010,56762480425,2.218309e+09,31579000000,2967266000000,1.387475e+09,8303000000,370400025.0,8861000000,439432275.0
9,2009,56970430780,2.213890e+09,31295000000,2956764000000,1.304308e+09,7943000000,346183950.0,8740000000,424237875.0
10,2008,57296572026,2.233065e+09,30954000000,2973509000000,1.291232e+09,7608000000,324268950.0,8470000000,409810500.0
11,2007,57409995170,2.556969e+09,31481000000,3029822000000,1.350293e+09,7663000000,328542375.0,8988000000,434063100.0
12,2006,56603273630,2.573880e+09,31733000000,3014116000000,1.403656e+09,7664000000,341983575.0,9150000000,421900275.0
13,2005,56520774505,2.635352e+09,31568000000,2989430000000,1.575688e+09,7443000000,334094175.0,8383000000,424310925.0
14,2004,56483471916,2.686268e+09,31971000000,2964789000000,1.636539e+09,7439000000,350530425.0,8771000000,434172675.0
15,2003,55413326180,2.551892e+09,31597000000,2890222000000,1.560458e+09,7290000000,330039900.0,8516000000,429607050.0
16,2002,54401389960,2.475591e+09,31361000000,2855509000000,1.544752e+09,7095000000,340120800.0,8494000000,429826200.0
17,2001,53233950965,2.488667e+09,30461000000,2795611000000,1.509505e+09,7084000000,346622250.0,8540000000,425406675.0
18,2000,52109352480,2.452288e+09,29821000000,2746926000000,1.496174e+09,7061000000,359150325.0,8227000000,420329700.0
19,1999,50864384105,2.407947e+09,29726000000,2679459000000,1.560348e+09,7101000000,379640850.0,8054000000,422119425.0
20,1998,49711668480,2.291907e+09,29192000000,2625363000000,1.490220e+09,7093000000,373541175.0,7931000000,441258525.0
21,1997,48090575365,2.306956e+09,28404000000,2560373000000,1.467246e+09,6942000000,362437575.0,7797000000,414266550.0
22,1996,45821088180,2.277042e+09,27587000000,2482201000000,1.463045e+09,6767000000,357141450.0,7696000000,414449175.0
23,1995,44117498900,2.220720e+09,26658000000,2422776000000,1.413846e+09,6546000000,369486900.0,7569000000,409080000.0
24,1994,43262537865,2.156034e+09,26039000000,2357587000000,1.432109e+09,6388000000,364556025.0,7550000000,418759125.0
25,1993,42473511890,2.043391e+09,25396000000,2296705000000,1.386306e+09,6204000000,361159200.0,7352000000,403966500.0
26,1992,41685288180,1.983161e+09,24411000000,2247152000000,1.381485e+09,6105000000,334970775.0,7176000000,402067200.0
27,1991,39301381935,1.968734e+09,23572000000,2172214000000,1.380901e+09,5999000000,323136675.0,6690000000,380517450.0
28,1990,39216794645,1.975783e+09,23165000000,2147501000000,1.419690e+09,5957000000,320141625.0,6985000000,376353600.0

# Wisconsin Vehicle Miles Traveled (1990-2018)

In [32]:
# Vehicle Miles Traveled
wiVMTURL = "https://wisconsindot.gov/Documents/projects/data-plan/veh-miles/vmt-hist.pdf"

# This is where the data CSV lives locally:
wiVMTFilepath = "data/wisconsinVMT.csv"

print(f"{wiVMTFilepath} is {round(os.path.getsize(wiVMTFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{wiVMTURL}")

# Read CSV into DataFrame
wiVMTData = pd.read_csv(wiVMTFilepath)

# Display DataFrame
wiVMTData

data/wisconsinVMT.csv is 0.0 megabytes (MB).
More info here:
https://wisconsindot.gov/Documents/projects/data-plan/veh-miles/vmt-hist.pdf

    Year  WI VMT
0   2018   65884
1   2017   65324
2   2016   63870
3   2015   62140
4   2014   60044
5   2013   59484
6   2012   59020
7   2011   58554
8   2010   59420
9   2009   58157
10  2008   57462
11  2007   59493
12  2006   59401
13  2005   60018
14  2004   60398
15  2003   59617
16  2002   58745
17  2001   57266
18  2000   57266
19  1999   56960
20  1998   56048
21  1997   53729
22  1996   52639
23  1995   51395
24  1994   50273
25  1993   48805
26  1992   47495
27  1991   45456
28  1990   44276

In [33]:
# Multiply values by 1,000,000
wiVMTData["WI VMT"] = wiVMTData["WI VMT"] * 1000000

# Display DataFrame
wiVMTData

    Year       WI VMT
0   2018  65884000000
1   2017  65324000000
2   2016  63870000000
3   2015  62140000000
4   2014  60044000000
5   2013  59484000000
6   2012  59020000000
7   2011  58554000000
8   2010  59420000000
9   2009  58157000000
10  2008  57462000000
11  2007  59493000000
12  2006  59401000000
13  2005  60018000000
14  2004  60398000000
15  2003  59617000000
16  2002  58745000000
17  2001  57266000000
18  2000  57266000000
19  1999  56960000000
20  1998  56048000000
21  1997  53729000000
22  1996  52639000000
23  1995  51395000000
24  1994  50273000000
25  1993  48805000000
26  1992  47495000000
27  1991  45456000000
28  1990  44276000000

In [34]:
# Merge DataFrames
milesGas = milesGas.merge(wiVMTData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

,Year,MN VMT,MN Gas,IA VMT,U.S. Total,IA Gas,ND VMT,ND Gas,SD VMT,SD Gas,WI VMT
0,2018,60438313272,2.271234e+09,33507000000,3240327000000,1.140457e+09,9866000000,396844125.0,9736000000,453202200.0,65884000000
1,2017,59970745402,2.331281e+09,33751000000,3212347000000,1.181657e+09,9703000000,402176775.0,9638000000,441222000.0,65324000000
2,2016,58856547322,2.407911e+09,33263000000,3174408000000,1.198349e+09,9740000000,400058325.0,9508000000,427050300.0,63870000000
3,2015,57795772499,2.367989e+09,33109000000,3095373000000,1.149113e+09,10079000000,430921950.0,9325000000,418065150.0,62140000000
4,2014,57393220230,2.289606e+09,32332000000,3025656000000,1.186003e+09,10437000000,443669175.0,9226000000,411052350.0,60044000000
5,2013,56993471770,2.307029e+09,31542000000,2988280000000,1.261610e+09,10100000000,435268425.0,9114000000,432163800.0,59484000000
6,2012,57018582582,2.266559e+09,31581000000,2968570000000,1.300947e+09,10093000000,417152025.0,9077000000,413389950.0,59020000000
7,2011,56675049785,2.207060e+09,31411000000,2950402000000,1.340687e+09,9166000000,391328850.0,8993000000,442646475.0,58554000000
8,2010,56762480425,2.218309e+09,31579000000,2967266000000,1.387475e+09,8303000000,370400025.0,8861000000,439432275.0,59420000000
9,2009,56970430780,2.213890e+09,31295000000,2956764000000,1.304308e+09,7943000000,346183950.0,8740000000,424237875.0,58157000000
10,2008,57296572026,2.233065e+09,30954000000,2973509000000,1.291232e+09,7608000000,324268950.0,8470000000,409810500.0,57462000000
11,2007,57409995170,2.556969e+09,31481000000,3029822000000,1.350293e+09,7663000000,328542375.0,8988000000,434063100.0,59493000000
12,2006,56603273630,2.573880e+09,31733000000,3014116000000,1.403656e+09,7664000000,341983575.0,9150000000,421900275.0,59401000000
13,2005,56520774505,2.635352e+09,31568000000,2989430000000,1.575688e+09,7443000000,334094175.0,8383000000,424310925.0,60018000000
14,2004,56483471916,2.686268e+09,31971000000,2964789000000,1.636539e+09,7439000000,350530425.0,8771000000,434172675.0,60398000000
15,2003,55413326180,2.551892e+09,31597000000,2890222000000,1.560458e+09,7290000000,330039900.0,8516000000,429607050.0,59617000000
16,2002,54401389960,2.475591e+09,31361000000,2855509000000,1.544752e+09,7095000000,340120800.0,8494000000,429826200.0,58745000000
17,2001,53233950965,2.488667e+09,30461000000,2795611000000,1.509505e+09,7084000000,346622250.0,8540000000,425406675.0,57266000000
18,2000,52109352480,2.452288e+09,29821000000,2746926000000,1.496174e+09,7061000000,359150325.0,8227000000,420329700.0,57266000000
19,1999,50864384105,2.407947e+09,29726000000,2679459000000,1.560348e+09,7101000000,379640850.0,8054000000,422119425.0,56960000000
20,1998,49711668480,2.291907e+09,29192000000,2625363000000,1.490220e+09,7093000000,373541175.0,7931000000,441258525.0,56048000000
21,1997,48090575365,2.306956e+09,28404000000,2560373000000,1.467246e+09,6942000000,362437575.0,7797000000,414266550.0,53729000000
22,1996,45821088180,2.277042e+09,27587000000,2482201000000,1.463045e+09,6767000000,357141450.0,7696000000,414449175.0,52639000000
23,1995,44117498900,2.220720e+09,26658000000,2422776000000,1.413846e+09,6546000000,369486900.0,7569000000,409080000.0,51395000000
24,1994,43262537865,2.156034e+09,26039000000,2357587000000,1.432109e+09,6388000000,364556025.0,7550000000,418759125.0,50273000000
25,1993,42473511890,2.043391e+09,25396000000,2296705000000,1.386306e+09,6204000000,361159200.0,7352000000,403966500.0,48805000000
26,1992,41685288180,1.983161e+09,24411000000,2247152000000,1.381485e+09,6105000000,334970775.0,7176000000,402067200.0,47495000000
27,1991,39301381935,1.968734e+09,23572000000,2172214000000,1.380901e+09,5999000000,323136675.0,6690000000,380517450.0,45456000000
28,1990,39216794645,1.975783e+09,23165000000,2147501000000,1.419690e+09,5957000000,320141625.0,6985000000,376353600.0,44276000000

# Wisconsin Total Gasoline All Sales (1990-2018)

In [35]:
# Total Gasoline
wiGasURL = "https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020551&f=A"

# This is where the data CSV lives locally:
wiGasFilepath = "data/wiFuelConsumption.csv"

print(f"{wiGasFilepath} is {round(os.path.getsize(wiGasFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{wiGasURL}")

# Read CSV into DataFrame
wiGasData = pd.read_csv(wiGasFilepath)

# Display DataFrame
wiGasData

data/wiFuelConsumption.csv is 0.0 megabytes (MB).
More info here:
https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=C100020551&f=A

    Year  WI Gas
0   1990  5816.9
1   1991  5850.4
2   1992  5917.1
3   1993  6012.0
4   1994  6135.2
5   1995  6329.4
6   1996  6478.1
7   1997  6596.4
8   1998  6768.0
9   1999  6713.5
10  2000  6855.2
11  2001  6884.1
12  2002  7010.1
13  2003  6858.9
14  2004  6770.1
15  2005  7059.5
16  2006  6802.8
17  2007  6629.6
18  2008  6651.7
19  2009  6879.8
20  2010  7076.8
21  2011  6992.7
22  2012  6744.4
23  2013  7110.2
24  2014  7051.7
25  2015  7264.6
26  2016  7346.6
27  2017  7188.0
28  2018  6895.3

In [36]:
# Multiply by 1,000 and 365.25 (CSV values are stated in thousand gallons per day)
wiGasData["WI Gas"] = (wiGasData["WI Gas"] * 1000) * 365.25

# Sort by year
wiGasData = wiGasData.sort_values("Year", ascending = False)

# Reset index in place
wiGasData.reset_index(inplace = True, drop = True)

# Display DataFrame
wiGasData

    Year        WI Gas
0   2018  2.518508e+09
1   2017  2.625417e+09
2   2016  2.683346e+09
3   2015  2.653395e+09
4   2014  2.575633e+09
5   2013  2.597001e+09
6   2012  2.463392e+09
7   2011  2.554084e+09
8   2010  2.584801e+09
9   2009  2.512847e+09
10  2008  2.429533e+09
11  2007  2.421461e+09
12  2006  2.484723e+09
13  2005  2.578482e+09
14  2004  2.472779e+09
15  2003  2.505213e+09
16  2002  2.560439e+09
17  2001  2.514418e+09
18  2000  2.503862e+09
19  1999  2.452106e+09
20  1998  2.472012e+09
21  1997  2.409335e+09
22  1996  2.366126e+09
23  1995  2.311813e+09
24  1994  2.240882e+09
25  1993  2.195883e+09
26  1992  2.161221e+09
27  1991  2.136859e+09
28  1990  2.124623e+09

In [37]:
# Merge DataFrames
milesGas = milesGas.merge(wiGasData, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                          copy = True, indicator = False, validate = None)

# Display DataFrame
milesGas

,Year,MN VMT,MN Gas,IA VMT,U.S. Total,IA Gas,ND VMT,ND Gas,SD VMT,SD Gas,WI VMT,WI Gas
0,2018,60438313272,2.271234e+09,33507000000,3240327000000,1.140457e+09,9866000000,396844125.0,9736000000,453202200.0,65884000000,2.518508e+09
1,2017,59970745402,2.331281e+09,33751000000,3212347000000,1.181657e+09,9703000000,402176775.0,9638000000,441222000.0,65324000000,2.625417e+09
2,2016,58856547322,2.407911e+09,33263000000,3174408000000,1.198349e+09,9740000000,400058325.0,9508000000,427050300.0,63870000000,2.683346e+09
3,2015,57795772499,2.367989e+09,33109000000,3095373000000,1.149113e+09,10079000000,430921950.0,9325000000,418065150.0,62140000000,2.653395e+09
4,2014,57393220230,2.289606e+09,32332000000,3025656000000,1.186003e+09,10437000000,443669175.0,9226000000,411052350.0,60044000000,2.575633e+09
5,2013,56993471770,2.307029e+09,31542000000,2988280000000,1.261610e+09,10100000000,435268425.0,9114000000,432163800.0,59484000000,2.597001e+09
6,2012,57018582582,2.266559e+09,31581000000,2968570000000,1.300947e+09,10093000000,417152025.0,9077000000,413389950.0,59020000000,2.463392e+09
7,2011,56675049785,2.207060e+09,31411000000,2950402000000,1.340687e+09,9166000000,391328850.0,8993000000,442646475.0,58554000000,2.554084e+09
8,2010,56762480425,2.218309e+09,31579000000,2967266000000,1.387475e+09,8303000000,370400025.0,8861000000,439432275.0,59420000000,2.584801e+09
9,2009,56970430780,2.213890e+09,31295000000,2956764000000,1.304308e+09,7943000000,346183950.0,8740000000,424237875.0,58157000000,2.512847e+09
10,2008,57296572026,2.233065e+09,30954000000,2973509000000,1.291232e+09,7608000000,324268950.0,8470000000,409810500.0,57462000000,2.429533e+09
11,2007,57409995170,2.556969e+09,31481000000,3029822000000,1.350293e+09,7663000000,328542375.0,8988000000,434063100.0,59493000000,2.421461e+09
12,2006,56603273630,2.573880e+09,31733000000,3014116000000,1.403656e+09,7664000000,341983575.0,9150000000,421900275.0,59401000000,2.484723e+09
13,2005,56520774505,2.635352e+09,31568000000,2989430000000,1.575688e+09,7443000000,334094175.0,8383000000,424310925.0,60018000000,2.578482e+09
14,2004,56483471916,2.686268e+09,31971000000,2964789000000,1.636539e+09,7439000000,350530425.0,8771000000,434172675.0,60398000000,2.472779e+09
15,2003,55413326180,2.551892e+09,31597000000,2890222000000,1.560458e+09,7290000000,330039900.0,8516000000,429607050.0,59617000000,2.505213e+09
16,2002,54401389960,2.475591e+09,31361000000,2855509000000,1.544752e+09,7095000000,340120800.0,8494000000,429826200.0,58745000000,2.560439e+09
17,2001,53233950965,2.488667e+09,30461000000,2795611000000,1.509505e+09,7084000000,346622250.0,8540000000,425406675.0,57266000000,2.514418e+09
18,2000,52109352480,2.452288e+09,29821000000,2746926000000,1.496174e+09,7061000000,359150325.0,8227000000,420329700.0,57266000000,2.503862e+09
19,1999,50864384105,2.407947e+09,29726000000,2679459000000,1.560348e+09,7101000000,379640850.0,8054000000,422119425.0,56960000000,2.452106e+09
20,1998,49711668480,2.291907e+09,29192000000,2625363000000,1.490220e+09,7093000000,373541175.0,7931000000,441258525.0,56048000000,2.472012e+09
21,1997,48090575365,2.306956e+09,28404000000,2560373000000,1.467246e+09,6942000000,362437575.0,7797000000,414266550.0,53729000000,2.409335e+09
22,1996,45821088180,2.277042e+09,27587000000,2482201000000,1.463045e+09,6767000000,357141450.0,7696000000,414449175.0,52639000000,2.366126e+09
23,1995,44117498900,2.220720e+09,26658000000,2422776000000,1.413846e+09,6546000000,369486900.0,7569000000,409080000.0,51395000000,2.311813e+09
24,1994,43262537865,2.156034e+09,26039000000,2357587000000,1.432109e+09,6388000000,364556025.0,7550000000,418759125.0,50273000000,2.240882e+09
25,1993,42473511890,2.043391e+09,25396000000,2296705000000,1.386306e+09,6204000000,361159200.0,7352000000,403966500.0,48805000000,2.195883e+09
26,1992,41685288180,1.983161e+09,24411000000,2247152000000,1.381485e+09,6105000000,334970775.0,7176000000,402067200.0,47495000000,2.161221e+09
27,1991,39301381935,1.968734e+09,23572000000,2172214000000,1.380901e+09,5999000000,323136675.0,6690000000,380517450.0,45456000000,2.136859e+09
28,1990,39216794645,1.975783e+09,23165000000,2147501000000,1.419690e+09,5957000000,320141625.0,6985000000,376353600.0,44276000000,2.124623e+09

In [38]:
# Rearrange columns
milesGas = milesGas[["Year", "U.S. Total", "IA VMT", "IA Gas", "MN VMT", "MN Gas", "ND VMT", "ND Gas", "SD VMT", "SD Gas",
                     "WI VMT", "WI Gas"]]

# Display DataFrame
milesGas.head()

,Year,U.S. Total,IA VMT,IA Gas,MN VMT,MN Gas,ND VMT,ND Gas,SD VMT,SD Gas,WI VMT,WI Gas
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,65884000000,2.518508e+09
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,65324000000,2.625417e+09
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,63870000000,2.683346e+09
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,62140000000,2.653395e+09
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,60044000000,2.575633e+09

In [39]:
# Rename columns
milesGas = milesGas.rename(columns = {"U.S. Total":"USA VMT"})

# Display DataFrame
milesGas.head()

,Year,USA VMT,IA VMT,IA Gas,MN VMT,MN Gas,ND VMT,ND Gas,SD VMT,SD Gas,WI VMT,WI Gas
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,65884000000,2.518508e+09
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,65324000000,2.625417e+09
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,63870000000,2.683346e+09
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,62140000000,2.653395e+09
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,60044000000,2.575633e+09

# Median Household Incomes by State (1990-2018)

In [40]:
# Median household income by state
incomeURL = "https://www2.census.gov/programs-surveys/cps/tables/time-series/historical-income-households/h08.xls"

# This is where the data CSV lives locally:
incomeFilepath = "data/medianIncomes.csv"

print(f"{incomeFilepath} is {round(os.path.getsize(incomeFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{incomeURL}")

# Read CSV into DataFrame
medianIncomes = pd.read_csv(incomeFilepath)

# Display DataFrame
medianIncomes

data/medianIncomes.csv is 0.0 megabytes (MB).
More info here:
https://www2.census.gov/programs-surveys/cps/tables/time-series/historical-income-households/h08.xls

    Year   Iowa  Minnesota  North Dakota  South Dakota  Wisconsin
0   2018  68718      71817         66505         59463      62629
1   2017  63467      69975         60167         56914      63482
2   2016  59094      70218         60184         57450      59817
3   2015  60855      68730         57415         55065      55425
4   2014  57810      67244         60730         53053      58080
5   2013  54855      60907         52888         54453      55258
6   2012  53442      61795         55766         49415      53079
7   2011  50219      57820         56361         47223      52058
8   2010  49016      52321         51006         45352      50351
9   2009  50721      56090         50075         45826      51237
10  2008  50142      54925         49631         51600      51200
11  2007  48908      58058         47205         46418      51277
12  2006  48126      56211         41047         45427      51692
13  2005  46500      54215         42192         43151      44650
14  2004  43391      56104         39220         41107      45732
15  2003  41384      52823         40410         39522      46269
16  2002  41049      54622         36200         37873      45903
17  2001  40976      52681         35793         39671      45346
18  2000  40991      54251         35996         36475      45088
19  1999  41098      47038         32663         35828      45667
20  1998  37019      47926         30304         32786      41327
21  1997  33783      42564         31661         29694      39595
22  1996  33209      40991         31470         29526      40001
23  1995  35519      37933         29089         29578      40955
24  1994  33079      33644         28278         29733      35388
25  1993  28663      33682         28118         27737      31766
26  1992  28743      30981         26959         26259      33308
27  1991  28553      29479         25892         24639      31133
28  1990  27288      31465         25264         24571      30711

In [41]:
# Rename columns
medianIncomes = medianIncomes.rename(columns = {"Iowa":"IA Income", "Minnesota":"MN Income", "North Dakota":"ND Income",
                                                "South Dakota":"SD Income", "Wisconsin":"WI Income"})

# Display DataFrame
medianIncomes.head()

   Year  IA Income  MN Income  ND Income  SD Income  WI Income
0  2018      68718      71817      66505      59463      62629
1  2017      63467      69975      60167      56914      63482
2  2016      59094      70218      60184      57450      59817
3  2015      60855      68730      57415      55065      55425
4  2014      57810      67244      60730      53053      58080

# Estimated Population by State (1990-2018)

In [42]:
# Estimated populations by state
popURL = "https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html"

# This is where the data CSV lives locally:
popFilepath = "data/statePopulations.csv"

print(f"{popFilepath} is {round(os.path.getsize(popFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{popURL}")

# Read CSV into DataFrame
statePops = pd.read_csv(popFilepath)

# Display DataFrame
statePops

data/statePopulations.csv is 0.0 megabytes (MB).
More info here:
https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html

    Year    .Iowa  .Minnesota  .North Dakota  .South Dakota  .Wisconsin
0   1990  2776755     4387283         637364         696667     4902265
1   1991  2791227     4427429         634199         701445     4952675
2   1992  2806923     4471503         635427         708698     5004636
3   1993  2820525     4521709         637229         716258     5055318
4   1994  2829422     4566028         639762         723038     5095504
5   1995  2840860     4605445         641548         728251     5137004
6   1996  2848473     4647723         642858         730699     5173828
7   1997  2854396     4687726         640945         730855     5200235
8   1998  2861025     4726411         637808         730789     5222124
9   1999  2869413     4775508         633666         733133     5250446
10  2000  2929067     4933692         642023         737333     5373999
11  2001  2931997     4982796         639062         758803     5406835
12  2002  2934234     5018935         638168         761633     5445162
13  2003  2941999     5053572         638817         765980     5479203
14  2004  2953635     5087713         644705         773087     5514026
15  2005  2964454     5119598         646089         778775     5546166
16  2006  2982644     5163555         649422         786973     5577655
17  2007  2999212     5207203         652822         795521     5610775
18  2008  3016734     5247018         657569         803047     5640996
19  2009  3032870     5281203         664968         810814     5669264
20  2010  3050745     5310828         674715         816166     5690475
21  2011  3066336     5346143         685225         823579     5705288
22  2012  3076190     5376643         701176         833566     5719960
23  2013  3092997     5413479         722036         842316     5736754
24  2014  3109350     5451079         737401         849129     5751525
25  2015  3120960     5482032         754066         853988     5760940
26  2016  3131371     5522744         754434         862996     5772628
27  2017  3141550     5566230         754942         872868     5790186
28  2018  3148618     5606249         758080         878698     5807406

In [43]:
# Drop unwanted characters from strings in column names
statePops.columns = statePops.columns.str.replace(".", "")

# Display DataFrame
statePops

    Year     Iowa  Minnesota  North Dakota  South Dakota  Wisconsin
0   1990  2776755    4387283        637364        696667    4902265
1   1991  2791227    4427429        634199        701445    4952675
2   1992  2806923    4471503        635427        708698    5004636
3   1993  2820525    4521709        637229        716258    5055318
4   1994  2829422    4566028        639762        723038    5095504
5   1995  2840860    4605445        641548        728251    5137004
6   1996  2848473    4647723        642858        730699    5173828
7   1997  2854396    4687726        640945        730855    5200235
8   1998  2861025    4726411        637808        730789    5222124
9   1999  2869413    4775508        633666        733133    5250446
10  2000  2929067    4933692        642023        737333    5373999
11  2001  2931997    4982796        639062        758803    5406835
12  2002  2934234    5018935        638168        761633    5445162
13  2003  2941999    5053572        638817        765980    5479203
14  2004  2953635    5087713        644705        773087    5514026
15  2005  2964454    5119598        646089        778775    5546166
16  2006  2982644    5163555        649422        786973    5577655
17  2007  2999212    5207203        652822        795521    5610775
18  2008  3016734    5247018        657569        803047    5640996
19  2009  3032870    5281203        664968        810814    5669264
20  2010  3050745    5310828        674715        816166    5690475
21  2011  3066336    5346143        685225        823579    5705288
22  2012  3076190    5376643        701176        833566    5719960
23  2013  3092997    5413479        722036        842316    5736754
24  2014  3109350    5451079        737401        849129    5751525
25  2015  3120960    5482032        754066        853988    5760940
26  2016  3131371    5522744        754434        862996    5772628
27  2017  3141550    5566230        754942        872868    5790186
28  2018  3148618    5606249        758080        878698    5807406

# State Landmass in Square Miles

In [44]:
# State landmasses
areaURL = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area"

# This is where the data CSV lives locally:
areaFilepath = "data/stateArea.csv"

print(f"{areaFilepath} is {round(os.path.getsize(areaFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{areaURL}")

# Read CSV into DataFrame
area = pd.read_csv(areaFilepath)

# Display DataFrame
area

data/stateArea.csv is 0.0 megabytes (MB).
More info here:
https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area

    Year      Iowa  Minnesota  North Dakota  South Dakota  Wisconsin
0   2018  56272.81   86935.83      70698.32      77115.68   65496.38
1   2017  56272.81   86935.83      70698.32      77115.68   65496.38
2   2016  56272.81   86935.83      70698.32      77115.68   65496.38
3   2015  56272.81   86935.83      70698.32      77115.68   65496.38
4   2014  56272.81   86935.83      70698.32      77115.68   65496.38
5   2013  56272.81   86935.83      70698.32      77115.68   65496.38
6   2012  56272.81   86935.83      70698.32      77115.68   65496.38
7   2011  56272.81   86935.83      70698.32      77115.68   65496.38
8   2010  56272.81   86935.83      70698.32      77115.68   65496.38
9   2009  56272.81   86935.83      70698.32      77115.68   65496.38
10  2008  56272.81   86935.83      70698.32      77115.68   65496.38
11  2007  56272.81   86935.83      70698.32      77115.68   65496.38
12  2006  56272.81   86935.83      70698.32      77115.68   65496.38
13  2005  56272.81   86935.83      70698.32      77115.68   65496.38
14  2004  56272.81   86935.83      70698.32      77115.68   65496.38
15  2003  56272.81   86935.83      70698.32      77115.68   65496.38
16  2002  56272.81   86935.83      70698.32      77115.68   65496.38
17  2001  56272.81   86935.83      70698.32      77115.68   65496.38
18  2000  56272.81   86935.83      70698.32      77115.68   65496.38
19  1999  56272.81   86935.83      70698.32      77115.68   65496.38
20  1998  56272.81   86935.83      70698.32      77115.68   65496.38
21  1997  56272.81   86935.83      70698.32      77115.68   65496.38
22  1996  56272.81   86935.83      70698.32      77115.68   65496.38
23  1995  56272.81   86935.83      70698.32      77115.68   65496.38
24  1994  56272.81   86935.83      70698.32      77115.68   65496.38
25  1993  56272.81   86935.83      70698.32      77115.68   65496.38
26  1992  56272.81   86935.83      70698.32      77115.68   65496.38
27  1991  56272.81   86935.83      70698.32      77115.68   65496.38
28  1990  56272.81   86935.83      70698.32      77115.68   65496.38

In [45]:
# Merge state population and state landmass DataFrames
stateCensus = pd.merge(statePops, area, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                       copy = True, indicator = False, validate = None)

# Display DataFrame
stateCensus

,Year,Iowa_x,Minnesota_x,North Dakota_x,South Dakota_x,Wisconsin_x,Iowa_y,Minnesota_y,North Dakota_y,South Dakota_y,Wisconsin_y
0,1990,2776755,4387283,637364,696667,4902265,56272.81,86935.83,70698.32,77115.68,65496.38
1,1991,2791227,4427429,634199,701445,4952675,56272.81,86935.83,70698.32,77115.68,65496.38
2,1992,2806923,4471503,635427,708698,5004636,56272.81,86935.83,70698.32,77115.68,65496.38
3,1993,2820525,4521709,637229,716258,5055318,56272.81,86935.83,70698.32,77115.68,65496.38
4,1994,2829422,4566028,639762,723038,5095504,56272.81,86935.83,70698.32,77115.68,65496.38
5,1995,2840860,4605445,641548,728251,5137004,56272.81,86935.83,70698.32,77115.68,65496.38
6,1996,2848473,4647723,642858,730699,5173828,56272.81,86935.83,70698.32,77115.68,65496.38
7,1997,2854396,4687726,640945,730855,5200235,56272.81,86935.83,70698.32,77115.68,65496.38
8,1998,2861025,4726411,637808,730789,5222124,56272.81,86935.83,70698.32,77115.68,65496.38
9,1999,2869413,4775508,633666,733133,5250446,56272.81,86935.83,70698.32,77115.68,65496.38
10,2000,2929067,4933692,642023,737333,5373999,56272.81,86935.83,70698.32,77115.68,65496.38
11,2001,2931997,4982796,639062,758803,5406835,56272.81,86935.83,70698.32,77115.68,65496.38
12,2002,2934234,5018935,638168,761633,5445162,56272.81,86935.83,70698.32,77115.68,65496.38
13,2003,2941999,5053572,638817,765980,5479203,56272.81,86935.83,70698.32,77115.68,65496.38
14,2004,2953635,5087713,644705,773087,5514026,56272.81,86935.83,70698.32,77115.68,65496.38
15,2005,2964454,5119598,646089,778775,5546166,56272.81,86935.83,70698.32,77115.68,65496.38
16,2006,2982644,5163555,649422,786973,5577655,56272.81,86935.83,70698.32,77115.68,65496.38
17,2007,2999212,5207203,652822,795521,5610775,56272.81,86935.83,70698.32,77115.68,65496.38
18,2008,3016734,5247018,657569,803047,5640996,56272.81,86935.83,70698.32,77115.68,65496.38
19,2009,3032870,5281203,664968,810814,5669264,56272.81,86935.83,70698.32,77115.68,65496.38
20,2010,3050745,5310828,674715,816166,5690475,56272.81,86935.83,70698.32,77115.68,65496.38
21,2011,3066336,5346143,685225,823579,5705288,56272.81,86935.83,70698.32,77115.68,65496.38
22,2012,3076190,5376643,701176,833566,5719960,56272.81,86935.83,70698.32,77115.68,65496.38
23,2013,3092997,5413479,722036,842316,5736754,56272.81,86935.83,70698.32,77115.68,65496.38
24,2014,3109350,5451079,737401,849129,5751525,56272.81,86935.83,70698.32,77115.68,65496.38
25,2015,3120960,5482032,754066,853988,5760940,56272.81,86935.83,70698.32,77115.68,65496.38
26,2016,3131371,5522744,754434,862996,5772628,56272.81,86935.83,70698.32,77115.68,65496.38
27,2017,3141550,5566230,754942,872868,5790186,56272.81,86935.83,70698.32,77115.68,65496.38
28,2018,3148618,5606249,758080,878698,5807406,56272.81,86935.83,70698.32,77115.68,65496.38

In [46]:
# Rename columns
stateCensus = stateCensus.rename(columns = {"Iowa_x":"IA Pop", "Minnesota_x":"MN Pop", "North Dakota_x":"ND Pop",
                                            "South Dakota_x":"SD Pop", "Wisconsin_x":"WI Pop", "Iowa_y":"IA Area",
                                            "Minnesota_y":"MN Area", "North Dakota_y":"ND Area",
                                            "South Dakota_y":"SD Area", "Wisconsin_y":"WI Area"})

# Display DataFrame
stateCensus

,Year,IA Pop,MN Pop,ND Pop,SD Pop,WI Pop,IA Area,MN Area,ND Area,SD Area,WI Area
0,1990,2776755,4387283,637364,696667,4902265,56272.81,86935.83,70698.32,77115.68,65496.38
1,1991,2791227,4427429,634199,701445,4952675,56272.81,86935.83,70698.32,77115.68,65496.38
2,1992,2806923,4471503,635427,708698,5004636,56272.81,86935.83,70698.32,77115.68,65496.38
3,1993,2820525,4521709,637229,716258,5055318,56272.81,86935.83,70698.32,77115.68,65496.38
4,1994,2829422,4566028,639762,723038,5095504,56272.81,86935.83,70698.32,77115.68,65496.38
5,1995,2840860,4605445,641548,728251,5137004,56272.81,86935.83,70698.32,77115.68,65496.38
6,1996,2848473,4647723,642858,730699,5173828,56272.81,86935.83,70698.32,77115.68,65496.38
7,1997,2854396,4687726,640945,730855,5200235,56272.81,86935.83,70698.32,77115.68,65496.38
8,1998,2861025,4726411,637808,730789,5222124,56272.81,86935.83,70698.32,77115.68,65496.38
9,1999,2869413,4775508,633666,733133,5250446,56272.81,86935.83,70698.32,77115.68,65496.38
10,2000,2929067,4933692,642023,737333,5373999,56272.81,86935.83,70698.32,77115.68,65496.38
11,2001,2931997,4982796,639062,758803,5406835,56272.81,86935.83,70698.32,77115.68,65496.38
12,2002,2934234,5018935,638168,761633,5445162,56272.81,86935.83,70698.32,77115.68,65496.38
13,2003,2941999,5053572,638817,765980,5479203,56272.81,86935.83,70698.32,77115.68,65496.38
14,2004,2953635,5087713,644705,773087,5514026,56272.81,86935.83,70698.32,77115.68,65496.38
15,2005,2964454,5119598,646089,778775,5546166,56272.81,86935.83,70698.32,77115.68,65496.38
16,2006,2982644,5163555,649422,786973,5577655,56272.81,86935.83,70698.32,77115.68,65496.38
17,2007,2999212,5207203,652822,795521,5610775,56272.81,86935.83,70698.32,77115.68,65496.38
18,2008,3016734,5247018,657569,803047,5640996,56272.81,86935.83,70698.32,77115.68,65496.38
19,2009,3032870,5281203,664968,810814,5669264,56272.81,86935.83,70698.32,77115.68,65496.38
20,2010,3050745,5310828,674715,816166,5690475,56272.81,86935.83,70698.32,77115.68,65496.38
21,2011,3066336,5346143,685225,823579,5705288,56272.81,86935.83,70698.32,77115.68,65496.38
22,2012,3076190,5376643,701176,833566,5719960,56272.81,86935.83,70698.32,77115.68,65496.38
23,2013,3092997,5413479,722036,842316,5736754,56272.81,86935.83,70698.32,77115.68,65496.38
24,2014,3109350,5451079,737401,849129,5751525,56272.81,86935.83,70698.32,77115.68,65496.38
25,2015,3120960,5482032,754066,853988,5760940,56272.81,86935.83,70698.32,77115.68,65496.38
26,2016,3131371,5522744,754434,862996,5772628,56272.81,86935.83,70698.32,77115.68,65496.38
27,2017,3141550,5566230,754942,872868,5790186,56272.81,86935.83,70698.32,77115.68,65496.38
28,2018,3148618,5606249,758080,878698,5807406,56272.81,86935.83,70698.32,77115.68,65496.38

In [47]:
# Calculate population densities
iowa = stateCensus["IA Pop"] / stateCensus["IA Area"]
minnesota = stateCensus["MN Pop"] / stateCensus["MN Area"]
northdakota = stateCensus["ND Pop"] / stateCensus["ND Area"]
southdakota = stateCensus["SD Pop"] / stateCensus["SD Area"]
wisconsin = stateCensus["WI Pop"] / stateCensus["WI Area"]

# Add new columns with population densities
stateCensus["IA Dens"] = iowa
stateCensus["MN Dens"] = minnesota
stateCensus["ND Dens"] = northdakota
stateCensus["SD Dens"] = southdakota
stateCensus["WI Dens"] = wisconsin

# Display DataFrame
stateCensus

,Year,IA Pop,MN Pop,ND Pop,SD Pop,WI Pop,IA Area,MN Area,ND Area,SD Area,WI Area,IA Dens,MN Dens,ND Dens,SD Dens,WI Dens
0,1990,2776755,4387283,637364,696667,4902265,56272.81,86935.83,70698.32,77115.68,65496.38,49.344524,50.465763,9.015264,9.034051,74.847877
1,1991,2791227,4427429,634199,701445,4952675,56272.81,86935.83,70698.32,77115.68,65496.38,49.601699,50.927552,8.970496,9.096010,75.617538
2,1992,2806923,4471503,635427,708698,5004636,56272.81,86935.83,70698.32,77115.68,65496.38,49.880626,51.434524,8.987866,9.190064,76.410880
3,1993,2820525,4521709,637229,716258,5055318,56272.81,86935.83,70698.32,77115.68,65496.38,50.122342,52.012030,9.013354,9.288098,77.184693
4,1994,2829422,4566028,639762,723038,5095504,56272.81,86935.83,70698.32,77115.68,65496.38,50.280446,52.521820,9.049182,9.376018,77.798254
5,1995,2840860,4605445,641548,728251,5137004,56272.81,86935.83,70698.32,77115.68,65496.38,50.483706,52.975223,9.074445,9.443618,78.431877
6,1996,2848473,4647723,642858,730699,5173828,56272.81,86935.83,70698.32,77115.68,65496.38,50.618993,53.461536,9.092974,9.475362,78.994106
7,1997,2854396,4687726,640945,730855,5200235,56272.81,86935.83,70698.32,77115.68,65496.38,50.724249,53.921680,9.065916,9.477385,79.397289
8,1998,2861025,4726411,637808,730789,5222124,56272.81,86935.83,70698.32,77115.68,65496.38,50.842050,54.366663,9.021544,9.476529,79.731491
9,1999,2869413,4775508,633666,733133,5250446,56272.81,86935.83,70698.32,77115.68,65496.38,50.991109,54.931413,8.962957,9.506925,80.163911
10,2000,2929067,4933692,642023,737333,5373999,56272.81,86935.83,70698.32,77115.68,65496.38,52.051195,56.750962,9.081163,9.561389,82.050321
11,2001,2931997,4982796,639062,758803,5406835,56272.81,86935.83,70698.32,77115.68,65496.38,52.103263,57.315793,9.039281,9.839802,82.551662
12,2002,2934234,5018935,638168,761633,5445162,56272.81,86935.83,70698.32,77115.68,65496.38,52.143015,57.731490,9.026636,9.876500,83.136839
13,2003,2941999,5053572,638817,765980,5479203,56272.81,86935.83,70698.32,77115.68,65496.38,52.281004,58.129910,9.035816,9.932870,83.656578
14,2004,2953635,5087713,644705,773087,5514026,56272.81,86935.83,70698.32,77115.68,65496.38,52.487782,58.522625,9.119099,10.025030,84.188256
15,2005,2964454,5119598,646089,778775,5546166,56272.81,86935.83,70698.32,77115.68,65496.38,52.680042,58.889390,9.138675,10.098789,84.678970
16,2006,2982644,5163555,649422,786973,5577655,56272.81,86935.83,70698.32,77115.68,65496.38,53.003289,59.395016,9.185819,10.205097,85.159745
17,2007,2999212,5207203,652822,795521,5610775,56272.81,86935.83,70698.32,77115.68,65496.38,53.297712,59.897087,9.233911,10.315944,85.665422
18,2008,3016734,5247018,657569,803047,5640996,56272.81,86935.83,70698.32,77115.68,65496.38,53.609088,60.355069,9.301056,10.413537,86.126836
19,2009,3032870,5281203,664968,810814,5669264,56272.81,86935.83,70698.32,77115.68,65496.38,53.895834,60.748290,9.405711,10.514256,86.558433
20,2010,3050745,5310828,674715,816166,5690475,56272.81,86935.83,70698.32,77115.68,65496.38,54.213482,61.089058,9.543579,10.583658,86.882283
21,2011,3066336,5346143,685225,823579,5705288,56272.81,86935.83,70698.32,77115.68,65496.38,54.490543,61.495278,9.692239,10.679787,87.108448
22,2012,3076190,5376643,701176,833566,5719960,56272.81,86935.83,70698.32,77115.68,65496.38,54.665655,61.846111,9.917859,10.809293,87.332460
23,2013,3092997,5413479,722036,842316,5736754,56272.81,86935.83,70698.32,77115.68,65496.38,54.964325,62.269826,10.212916,10.922759,87.588871
24,2014,3109350,5451079,737401,849129,5751525,56272.81,86935.83,70698.32,77115.68,65496.38,55.254927,62.702329,10.430248,11.011107,87.814395
25,2015,3120960,5482032,754066,853988,5760940,56272.81,86935.83,70698.32,77115.68,65496.38,55.461243,63.058373,10.665968,11.074116,87.958144
26,2016,3131371,5522744,754434,862996,5772628,56272.81,86935.83,70698.32,77115.68,65496.38,55.646253,63.526672,10.671173,11.190928,88.136596
27,2017,3141550,5566230,754942,872868,5790186,56272.81,86935.83,70698.32,77115.68,65496.38,55.827139,64.026881,10.678358,11.318943,88.404672
28,2018,3148618,5606249,758080,878698,5807406,56272.81,86935.83,70698.32,77115.68,65496.38,55.952742,64.487209,10.722744,11.394544,88.667587

In [48]:
# Rearrange columns
stateCensus = stateCensus[["Year", "IA Pop", "IA Area", "IA Dens", "MN Pop", "MN Area", "MN Dens", "ND Pop", "ND Area",
                           "ND Dens", "SD Pop", "SD Area", "SD Dens", "WI Pop", "WI Area", "WI Dens"]]

# Display DataFrame
stateCensus

,Year,IA Pop,IA Area,IA Dens,MN Pop,MN Area,MN Dens,ND Pop,ND Area,ND Dens,SD Pop,SD Area,SD Dens,WI Pop,WI Area,WI Dens
0,1990,2776755,56272.81,49.344524,4387283,86935.83,50.465763,637364,70698.32,9.015264,696667,77115.68,9.034051,4902265,65496.38,74.847877
1,1991,2791227,56272.81,49.601699,4427429,86935.83,50.927552,634199,70698.32,8.970496,701445,77115.68,9.096010,4952675,65496.38,75.617538
2,1992,2806923,56272.81,49.880626,4471503,86935.83,51.434524,635427,70698.32,8.987866,708698,77115.68,9.190064,5004636,65496.38,76.410880
3,1993,2820525,56272.81,50.122342,4521709,86935.83,52.012030,637229,70698.32,9.013354,716258,77115.68,9.288098,5055318,65496.38,77.184693
4,1994,2829422,56272.81,50.280446,4566028,86935.83,52.521820,639762,70698.32,9.049182,723038,77115.68,9.376018,5095504,65496.38,77.798254
5,1995,2840860,56272.81,50.483706,4605445,86935.83,52.975223,641548,70698.32,9.074445,728251,77115.68,9.443618,5137004,65496.38,78.431877
6,1996,2848473,56272.81,50.618993,4647723,86935.83,53.461536,642858,70698.32,9.092974,730699,77115.68,9.475362,5173828,65496.38,78.994106
7,1997,2854396,56272.81,50.724249,4687726,86935.83,53.921680,640945,70698.32,9.065916,730855,77115.68,9.477385,5200235,65496.38,79.397289
8,1998,2861025,56272.81,50.842050,4726411,86935.83,54.366663,637808,70698.32,9.021544,730789,77115.68,9.476529,5222124,65496.38,79.731491
9,1999,2869413,56272.81,50.991109,4775508,86935.83,54.931413,633666,70698.32,8.962957,733133,77115.68,9.506925,5250446,65496.38,80.163911
10,2000,2929067,56272.81,52.051195,4933692,86935.83,56.750962,642023,70698.32,9.081163,737333,77115.68,9.561389,5373999,65496.38,82.050321
11,2001,2931997,56272.81,52.103263,4982796,86935.83,57.315793,639062,70698.32,9.039281,758803,77115.68,9.839802,5406835,65496.38,82.551662
12,2002,2934234,56272.81,52.143015,5018935,86935.83,57.731490,638168,70698.32,9.026636,761633,77115.68,9.876500,5445162,65496.38,83.136839
13,2003,2941999,56272.81,52.281004,5053572,86935.83,58.129910,638817,70698.32,9.035816,765980,77115.68,9.932870,5479203,65496.38,83.656578
14,2004,2953635,56272.81,52.487782,5087713,86935.83,58.522625,644705,70698.32,9.119099,773087,77115.68,10.025030,5514026,65496.38,84.188256
15,2005,2964454,56272.81,52.680042,5119598,86935.83,58.889390,646089,70698.32,9.138675,778775,77115.68,10.098789,5546166,65496.38,84.678970
16,2006,2982644,56272.81,53.003289,5163555,86935.83,59.395016,649422,70698.32,9.185819,786973,77115.68,10.205097,5577655,65496.38,85.159745
17,2007,2999212,56272.81,53.297712,5207203,86935.83,59.897087,652822,70698.32,9.233911,795521,77115.68,10.315944,5610775,65496.38,85.665422
18,2008,3016734,56272.81,53.609088,5247018,86935.83,60.355069,657569,70698.32,9.301056,803047,77115.68,10.413537,5640996,65496.38,86.126836
19,2009,3032870,56272.81,53.895834,5281203,86935.83,60.748290,664968,70698.32,9.405711,810814,77115.68,10.514256,5669264,65496.38,86.558433
20,2010,3050745,56272.81,54.213482,5310828,86935.83,61.089058,674715,70698.32,9.543579,816166,77115.68,10.583658,5690475,65496.38,86.882283
21,2011,3066336,56272.81,54.490543,5346143,86935.83,61.495278,685225,70698.32,9.692239,823579,77115.68,10.679787,5705288,65496.38,87.108448
22,2012,3076190,56272.81,54.665655,5376643,86935.83,61.846111,701176,70698.32,9.917859,833566,77115.68,10.809293,5719960,65496.38,87.332460
23,2013,3092997,56272.81,54.964325,5413479,86935.83,62.269826,722036,70698.32,10.212916,842316,77115.68,10.922759,5736754,65496.38,87.588871
24,2014,3109350,56272.81,55.254927,5451079,86935.83,62.702329,737401,70698.32,10.430248,849129,77115.68,11.011107,5751525,65496.38,87.814395
25,2015,3120960,56272.81,55.461243,5482032,86935.83,63.058373,754066,70698.32,10.665968,853988,77115.68,11.074116,5760940,65496.38,87.958144
26,2016,3131371,56272.81,55.646253,5522744,86935.83,63.526672,754434,70698.32,10.671173,862996,77115.68,11.190928,5772628,65496.38,88.136596
27,2017,3141550,56272.81,55.827139,5566230,86935.83,64.026881,754942,70698.32,10.678358,872868,77115.68,11.318943,5790186,65496.38,88.404672
28,2018,3148618,56272.81,55.952742,5606249,86935.83,64.487209,758080,70698.32,10.722744,878698,77115.68,11.394544,5807406,65496.38,88.667587

### *Merge Mileage/Gas DataFrame with Census DataFrame*

In [49]:
# Merge DataFrames
DataFrame = milesGas.merge(stateCensus, how = "left", left_on = "Year", right_on = "Year", on = None, sort = False,
                           copy = True, indicator = False, validate = None)

# Display DataFrame
DataFrame

,Year,USA VMT,IA VMT,IA Gas,MN VMT,MN Gas,ND VMT,ND Gas,SD VMT,SD Gas,...,MN Dens,ND Pop,ND Area,ND Dens,SD Pop,SD Area,SD Dens,WI Pop,WI Area,WI Dens
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,...,64.487209,758080,70698.32,10.722744,878698,77115.68,11.394544,5807406,65496.38,88.667587
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,...,64.026881,754942,70698.32,10.678358,872868,77115.68,11.318943,5790186,65496.38,88.404672
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,...,63.526672,754434,70698.32,10.671173,862996,77115.68,11.190928,5772628,65496.38,88.136596
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,...,63.058373,754066,70698.32,10.665968,853988,77115.68,11.074116,5760940,65496.38,87.958144
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,...,62.702329,737401,70698.32,10.430248,849129,77115.68,11.011107,5751525,65496.38,87.814395
5,2013,2988280000000,31542000000,1.261610e+09,56993471770,2.307029e+09,10100000000,435268425.0,9114000000,432163800.0,...,62.269826,722036,70698.32,10.212916,842316,77115.68,10.922759,5736754,65496.38,87.588871
6,2012,2968570000000,31581000000,1.300947e+09,57018582582,2.266559e+09,10093000000,417152025.0,9077000000,413389950.0,...,61.846111,701176,70698.32,9.917859,833566,77115.68,10.809293,5719960,65496.38,87.332460
7,2011,2950402000000,31411000000,1.340687e+09,56675049785,2.207060e+09,9166000000,391328850.0,8993000000,442646475.0,...,61.495278,685225,70698.32,9.692239,823579,77115.68,10.679787,5705288,65496.38,87.108448
8,2010,2967266000000,31579000000,1.387475e+09,56762480425,2.218309e+09,8303000000,370400025.0,8861000000,439432275.0,...,61.089058,674715,70698.32,9.543579,816166,77115.68,10.583658,5690475,65496.38,86.882283
9,2009,2956764000000,31295000000,1.304308e+09,56970430780,2.213890e+09,7943000000,346183950.0,8740000000,424237875.0,...,60.748290,664968,70698.32,9.405711,810814,77115.68,10.514256,5669264,65496.38,86.558433
10,2008,2973509000000,30954000000,1.291232e+09,57296572026,2.233065e+09,7608000000,324268950.0,8470000000,409810500.0,...,60.355069,657569,70698.32,9.301056,803047,77115.68,10.413537,5640996,65496.38,86.126836
11,2007,3029822000000,31481000000,1.350293e+09,57409995170,2.556969e+09,7663000000,328542375.0,8988000000,434063100.0,...,59.897087,652822,70698.32,9.233911,795521,77115.68,10.315944,5610775,65496.38,85.665422
12,2006,3014116000000,31733000000,1.403656e+09,56603273630,2.573880e+09,7664000000,341983575.0,9150000000,421900275.0,...,59.395016,649422,70698.32,9.185819,786973,77115.68,10.205097,5577655,65496.38,85.159745
13,2005,2989430000000,31568000000,1.575688e+09,56520774505,2.635352e+09,7443000000,334094175.0,8383000000,424310925.0,...,58.889390,646089,70698.32,9.138675,778775,77115.68,10.098789,5546166,65496.38,84.678970
14,2004,2964789000000,31971000000,1.636539e+09,56483471916,2.686268e+09,7439000000,350530425.0,8771000000,434172675.0,...,58.522625,644705,70698.32,9.119099,773087,77115.68,10.025030,5514026,65496.38,84.188256
15,2003,2890222000000,31597000000,1.560458e+09,55413326180,2.551892e+09,7290000000,330039900.0,8516000000,429607050.0,...,58.129910,638817,70698.32,9.035816,765980,77115.68,9.932870,5479203,65496.38,83.656578
16,2002,2855509000000,31361000000,1.544752e+09,54401389960,2.475591e+09,7095000000,340120800.0,8494000000,429826200.0,...,57.731490,638168,70698.32,9.026636,761633,77115.68,9.876500,5445162,65496.38,83.136839
17,2001,2795611000000,30461000000,1.509505e+09,53233950965,2.488667e+09,7084000000,346622250.0,8540000000,425406675.0,...,57.315793,639062,70698.32,9.039281,758803,77115.68,9.839802,5406835,65496.38,82.551662
18,2000,2746926000000,29821000000,1.496174e+09,52109352480,2.452288e+09,7061000000,359150325.0,8227000000,420329700.0,...,56.750962,642023,70698.32,9.081163,737333,77115.68,9.561389,5373999,65496.38,82.050321
19,1999,2679459000000,29726000000,1.560348e+09,50864384105,2.407947e+09,7101000000,379640850.0,8054000000,422119425.0,...,54.931413,633666,70698.32,8.962957,733133,77115.68,9.506925,5250446,65496.38,80.163911
20,1998,2625363000000,29192000000,1.490220e+09,49711668480,2.291907e+09,7093000000,373541175.0,7931000000,441258525.0,...,54.366663,637808,70698.32,9.021544,730789,77115.68,9.476529,5222124,65496.38,79.731491
21,1997,2560373000000,28404000000,1.467246e+09,48090575365,2.306956e+09,6942000000,362437575.0,7797000000,414266550.0,...,53.921680,640945,70698.32,9.065916,730855,77115.68,9.477385,5200235,65496.38,79.397289
22,1996,2482201000000,27587000000,1.463045e+09,45821088180,2.277042e+09,6767000000,357141450.0,7696000000,414449175.0,...,53.461536,642858,70698.32,9.092974,730699,77115.68,9.475362,5173828,65496.38,78.994106
23,1995,2422776000000,26658000000,1.413846e+09,44117498900,2.220720e+09,6546000000,369486900.0,7569000000,409080000.0,...,52.975223,641548,70698.32,9.074445,728251,77115.68,9.443618,5137004,65496.38,78.431877
24,1994,2357587000000,26039000000,1.432109e+09,43262537865,2.156034e+09,6388000000,364556025.0,7550000000,418759125.0,...,52.521820,639762,70698.32,9.049182,723038,77115.68,9.376018,5095504,65496.38,77.798254
25,1993,2296705000000,25396000000,1.386306e+09,42473511890,2.043391e+09,6204000000,361159200.0,7352000000,403966500.0,...,52.012030,637229,70698.32,9.013354,716258,77115.68,9.288098,5055318,65496.38,77.184693
26,1992,2247152000000,24411000000,1.381485e+09,41685288180,1.983161e+09,6105000000,334970775.0,7176000000,402067200.0,...,51.434524,635427,70698.32,8.987866,708698,77115.68,9.190064,5004636,65496.38,76.410880
27,1991,2172214000000,23572000000,1.380901e+09,39301381935,1.968734e+09,5999000000,323136675.0,6690000000,380517450.0,...,50.927552,634199,70698.32,8.970496,701445,77115.68,9.096010,4952675,65496.38,75.617538
28,1990,2147501000000,23165000000,1.419690e+09,39216794645,1.975783e+09,5957000000,320141625.0,6985000000,376353600.0,...,50.465763,637364,70698.32,9.015264,696667,77115.68,9.034051,4902265,65496.38,74.847877

In [50]:
# Print column names
for y in DataFrame.columns:
    print(y)

Year
USA VMT
IA VMT
IA Gas
MN VMT
MN Gas
ND VMT
ND Gas
SD VMT
SD Gas
WI VMT
WI Gas
IA Pop
IA Area
IA Dens
MN Pop
MN Area
MN Dens
ND Pop
ND Area
ND Dens
SD Pop
SD Area
SD Dens
WI Pop
WI Area
WI Dens

In [51]:
# Rename columns
DataFrame = DataFrame.rename(columns = {"USA VMT":"usaVMT", "IA VMT":"iaVMT", "IA Gas":"iaGAS", "MN VMT":"mnVMT",
                                        "MN Gas":"mnGAS", "ND VMT":"ndVMT", "ND Gas":"ndGAS", "SD VMT":"sdVMT",
                                        "SD Gas":"sdGAS", "WI VMT":"wiVMT", "WI Gas":"wiGAS", "IA Pop":"iaPOP",
                                        "IA Area":"iaAREA", "IA Dens":"iaDENS", "MN Pop":"mnPOP", "MN Area":"mnAREA",
                                        "MN Dens":"mnDENS", "ND Pop":"ndPOP", "ND Area":"ndAREA", "ND Dens":"ndDENS",
                                        "SD Pop":"sdPOP", "SD Area":"sdAREA", "SD Dens":"sdDENS", "WI Pop":"wiPOP",
                                        "WI Area":"wiAREA", "WI Dens":"wiDENS"})

# Display DataFrame
DataFrame.head()

,Year,usaVMT,iaVMT,iaGAS,mnVMT,mnGAS,ndVMT,ndGAS,sdVMT,sdGAS,...,mnDENS,ndPOP,ndAREA,ndDENS,sdPOP,sdAREA,sdDENS,wiPOP,wiAREA,wiDENS
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,...,64.487209,758080,70698.32,10.722744,878698,77115.68,11.394544,5807406,65496.38,88.667587
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,...,64.026881,754942,70698.32,10.678358,872868,77115.68,11.318943,5790186,65496.38,88.404672
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,...,63.526672,754434,70698.32,10.671173,862996,77115.68,11.190928,5772628,65496.38,88.136596
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,...,63.058373,754066,70698.32,10.665968,853988,77115.68,11.074116,5760940,65496.38,87.958144
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,...,62.702329,737401,70698.32,10.430248,849129,77115.68,11.011107,5751525,65496.38,87.814395

In [52]:
# Print column names
for z in DataFrame.columns:
    print(z)

Year
usaVMT
iaVMT
iaGAS
mnVMT
mnGAS
ndVMT
ndGAS
sdVMT
sdGAS
wiVMT
wiGAS
iaPOP
iaAREA
iaDENS
mnPOP
mnAREA
mnDENS
ndPOP
ndAREA
ndDENS
sdPOP
sdAREA
sdDENS
wiPOP
wiAREA
wiDENS

In [53]:
# Nick's Code Begins Here

In [54]:
# import data on state highs and lows (pre-cleaned csv)
temp_df = pd.read_csv('data/state_temp_highs_and_lows.csv')
temp_df.head()

,Date,mnTempHigh,mnTempLow,iaTempHigh,iaTempLow,wiTempHigh,wiTempLow,ndTempHigh,ndTempLow,sdTempHigh,sdTempLow
0,2000,52.4,31.2,59.3,38.0,54.2,33.5,52.6,29.5,58.4,33.5
1,2001,53.4,32.7,59.3,38.8,55.6,35.0,53.7,30.8,58.4,34.6
2,2002,52.1,32.0,59.9,38.4,54.5,34.7,52.3,29.7,58.6,33.8
3,2003,52.4,30.7,58.9,36.9,54.0,32.4,52.5,29.0,58.4,33.7
4,2004,51.7,30.9,58.9,38.1,53.8,33.2,52.0,29.1,58.6,34.0

In [55]:
# merge data to main DataFrame
DataFrame = pd.merge(DataFrame, temp_df, how = 'left', left_on=['Year'], right_on=['Date'])

In [56]:
DataFrame = DataFrame.drop(columns = ['Date'])

In [57]:
# import data on commute information for each state
commute_df = pd.read_csv('data/Commute_mode_2000__to_2019_data.csv')

In [58]:
# filter down df to only midwest states
midwest_commute_df = commute_df.loc[(commute_df['State'] == 'Minnesota') | 
                                   (commute_df['State'] == 'Wisconsin') |
                                   (commute_df['State'] == 'North Dakota') |
                                   (commute_df['State'] == 'South Dakota') |
                                   (commute_df['State'] == 'Iowa')]

# filter down df to only 2000 to 2018
midwest_commute_df = midwest_commute_df.loc[(midwest_commute_df['Year'] <= 2018) &
                                            (midwest_commute_df['Year'] >= 2000)]
midwest_commute_df

             State            Mode  Year  Commute mode share (percent)
15            Iowa         Carpool  2000                      0.108000
23       Minnesota         Carpool  2000                      0.104000
34    North Dakota         Carpool  2000                      0.100000
41    South Dakota         Carpool  2000                      0.140000
50       Wisconsin         Carpool  2000                      0.127000
...            ...             ...   ...                           ...
3915          Iowa  Worked at home  2018                      0.051177
3923     Minnesota  Worked at home  2018                      0.060798
3934  North Dakota  Worked at home  2018                      0.037365
3941  South Dakota  Worked at home  2018                      0.049919
3950     Wisconsin  Worked at home  2018                      0.048321

[380 rows x 4 columns]

In [59]:
#convert state to abbreviated version
midwest_commute_df = midwest_commute_df.replace(['Minnesota', 'Iowa', 'North Dakota'
                                    ,'South Dakota', 'Wisconsin'], ['mn', 'ia'
                                    ,'nd','sd','wi'])

In [60]:
# create future column names for DataFrame df (called stateMode)
midwest_commute_df['stateMode'] = midwest_commute_df['State'] + midwest_commute_df['Mode']

# remove spaces from stateMode values
midwest_commute_df['stateMode'] = midwest_commute_df['stateMode'].str.replace(" ","")

# remove commas from statemode values
midwest_commute_df['stateMode'] = midwest_commute_df['stateMode'].str.replace(",","")

In [61]:
midwest_commute_df_formated = midwest_commute_df.pivot(index='Year', columns='stateMode', values='Commute mode share (percent)')
midwest_commute_df_formated

stateMode,iaBicycle,iaCarpool,iaDrovealone,iaPublictransportation,iaTaximotorcycleorother,iaWalked,iaWorkedathome,mnBicycle,mnCarpool,mnDrovealone,...,sdTaximotorcycleorother,sdWalked,sdWorkedathome,wiBicycle,wiCarpool,wiDrovealone,wiPublictransportation,wiTaximotorcycleorother,wiWalked,wiWorkedathome
Year,,,,,,,,,,,,,,,,,,,,,
2000,NaN,0.108000,0.786000,0.010000,0.009000,0.040000,0.047000,NaN,0.104000,0.776000,...,0.013000,0.023000,0.021000,NaN,0.127000,0.803000,0.008000,0.009000,0.029000,0.024000
2005,0.005431,0.100735,0.800977,0.007862,0.010169,0.031580,0.043246,0.005303,0.094981,0.789822,...,0.007195,0.040016,0.060855,0.006358,0.090278,0.811286,0.014979,0.009523,0.029258,0.038318
2010,0.005220,0.097020,0.793260,0.010999,0.009276,0.035891,0.048334,0.006517,0.085386,0.781922,...,0.012354,0.043840,0.052067,0.007523,0.088048,0.805139,0.016690,0.009324,0.031448,0.041827
2011,0.004708,0.089100,0.805276,0.010904,0.008858,0.035042,0.046113,0.007100,0.093057,0.777315,...,0.008492,0.042675,0.055357,0.006883,0.089087,0.798362,0.019630,0.008866,0.034014,0.043158
2012,0.005099,0.090446,0.798969,0.010867,0.011219,0.036396,0.047004,0.008136,0.089489,0.780284,...,0.010916,0.039457,0.057693,0.008734,0.089374,0.802066,0.017995,0.010028,0.032734,0.039070
2013,0.005526,0.085967,0.808612,0.010974,0.010130,0.037175,0.041616,0.007893,0.085778,0.783857,...,0.009883,0.041651,0.052410,0.008319,0.082066,0.805216,0.019802,0.008554,0.035409,0.040634
2014,0.004888,0.086139,0.808054,0.010435,0.009282,0.033641,0.047560,0.008867,0.088149,0.776997,...,0.009275,0.042341,0.055342,0.007928,0.081654,0.808791,0.018979,0.009663,0.032232,0.040752
2015,0.005778,0.086244,0.809587,0.013746,0.009530,0.034317,0.040797,0.008634,0.083212,0.781317,...,0.007861,0.031211,0.057953,0.008183,0.078866,0.812343,0.019135,0.009002,0.031603,0.040868
2016,0.004651,0.081657,0.812460,0.010776,0.008813,0.034385,0.047258,0.007040,0.085877,0.778296,...,0.009843,0.038315,0.055273,0.007031,0.082198,0.806920,0.017426,0.008973,0.030303,0.047148
2017,0.005090,0.079951,0.814114,0.008555,0.009203,0.031941,0.051146,0.007084,0.081501,0.780208,...,0.006978,0.033904,0.058456,0.006296,0.076339,0.811193,0.017505,0.009206,0.029962,0.049499
2018,0.003965,0.081208,0.815684,0.010187,0.007899,0.029881,0.051177,0.006389,0.083987,0.776912,...,0.013079,0.020673,0.049919,0.006581,0.075152,0.816930,0.014993,0.008774,0.029250,0.048321

In [62]:
# merge data to main DataFrame
DataFrame = pd.merge(DataFrame, midwest_commute_df_formated, how = 'left', on=['Year'])

In [63]:
# import data on laws and incentives for each state (pre-cleaned)
laws_df = pd.read_csv('data/laws_and_incentives_cleaned.csv')

In [64]:
DataFrame = pd.merge(DataFrame, laws_df, how = 'left', on=['Year'])

In [65]:
print(DataFrame.columns)

Index(['Year', 'usaVMT', 'iaVMT', 'iaGAS', 'mnVMT', 'mnGAS', 'ndVMT', 'ndGAS',
       'sdVMT', 'sdGAS', 'wiVMT', 'wiGAS', 'iaPOP', 'iaAREA', 'iaDENS',
       'mnPOP', 'mnAREA', 'mnDENS', 'ndPOP', 'ndAREA', 'ndDENS', 'sdPOP',
       'sdAREA', 'sdDENS', 'wiPOP', 'wiAREA', 'wiDENS', 'mnTempHigh',
       'mnTempLow', 'iaTempHigh', 'iaTempLow', 'wiTempHigh', 'wiTempLow',
       'ndTempHigh', 'ndTempLow', 'sdTempHigh', 'sdTempLow', 'iaBicycle',
       'iaCarpool', 'iaDrovealone', 'iaPublictransportation',
       'iaTaximotorcycleorother', 'iaWalked', 'iaWorkedathome', 'mnBicycle',
       'mnCarpool', 'mnDrovealone', 'mnPublictransportation',
       'mnTaximotorcycleorother', 'mnWalked', 'mnWorkedathome', 'ndBicycle',
       'ndCarpool', 'ndDrovealone', 'ndPublictransportation',
       'ndTaximotorcycleorother', 'ndWalked', 'ndWorkedathome', 'sdBicycle',
       'sdCarpool', 'sdDrovealone', 'sdPublictransportation',
       'sdTaximotorcycleorother', 'sdWalked', 'sdWorkedathome', 'wiBicycle',
       'wiCarpool', 'wiDrovealone', 'wiPublictransportation',
       'wiTaximotorcycleorother', 'wiWalked', 'wiWorkedathome', 'iaLaws',
       'mnLaws', 'sdLaws', 'ndLaws', 'wiLaws'],
      dtype='object')

In [66]:
# Nick's Code Ends Here

In [67]:
# Export to CSV
DataFrame.to_csv("resources/annualData.csv", index = False, header = True)

# GHG Emissions by State, measured in CO2 equivalents (1990-2018)

In [68]:
# Carbon emissions
carbonURL = "https://www.wri.org/data/climate-watch-historical-emissions-data-countries-us-states-unfccc"

# This is where the data CSV lives locally:
carbonFilepath = "data/climatewatch-usemissions.csv"

print(f"{carbonFilepath} is {round(os.path.getsize(carbonFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{carbonURL}")

# Read CSV into DataFrame
carbon = pd.read_csv(carbonFilepath)

# Display DataFrame
carbon

data/climatewatch-usemissions.csv is 0.35 megabytes (MB).
More info here:
https://www.wri.org/data/climate-watch-historical-emissions-data-countries-us-states-unfccc

,State,Year,Total GHG Emissions Excluding LUCF (MtCO2e),Total GHG Emissions Including LUCF (MtCO2e),Total CO2 (excluding LUCF) (MtCO2e),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),...,Bunker Fuels (MtCO2e),Electric Power (MtCO2e),Commercial (MtCO2e),Residential (MtCO2e),Industrial (MtCO2e),Transportation (MtCO2e),Fugitive Emissions (MtCO2e),State GDP (Million US$ (chained 1997/2005)),Population (People),Total Energy Use (Thous. tonnes oil eq. (ktoe))
0,Alabama,1990,142.417267,81.645894,112.157128,23.710782,6.034132,0.515225,127.881865,3.442879,...,0.000000,50.580225,2.455356,3.233194,25.450395,29.582733,16.579961,83766.0,4050055,4.197098e+04
1,Alaska,1990,47.394637,44.956391,35.893979,11.185360,0.278483,0.036815,45.867810,1.093494,...,0.000000,2.612978,2.210446,1.612772,15.851075,12.300752,11.279787,28772.0,553290,1.471864e+04
2,Arizona,1990,71.687896,68.048443,63.291388,4.090110,3.480351,0.826048,64.545882,1.155930,...,0.000000,32.680547,1.915212,1.901865,3.887329,24.064867,0.096061,81606.0,3684097,2.366177e+04
3,Arkansas,1990,71.973584,24.753434,52.211375,9.563331,9.963139,0.235740,53.107620,1.151356,...,0.000000,21.697883,1.630468,2.559084,9.488513,16.882259,0.849414,44496.0,2356586,2.156930e+04
4,California,1990,430.660671,363.225554,368.717790,35.785491,23.600369,2.557020,379.550134,7.731291,...,0.000000,40.343922,19.101576,30.189209,71.881356,212.571891,5.462181,906103.0,29959515,1.876164e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,Washington,2018,97.296446,65.342674,82.046289,6.185934,4.346750,4.717473,81.620211,5.939311,...,0.027622,10.061289,4.766244,5.857520,13.327250,47.607909,0.000000,524486.9,7523869,2.078665e+06
1504,West Virginia,2018,115.714795,100.078012,89.895261,23.579975,1.029359,1.210201,109.725451,3.371314,...,0.000000,59.915487,1.828314,1.872126,11.468839,13.154700,21.485985,71858.7,1804291,8.329140e+05
1505,Wisconsin,2018,128.884615,109.999975,101.752437,12.627558,11.445894,3.058726,101.452129,4.234074,...,0.000000,39.238932,6.683348,10.194157,14.078687,31.257005,0.000000,303767.4,5807406,1.885868e+06
1506,Wyoming,2018,88.995627,100.170035,66.742306,18.373199,3.565572,0.314551,78.844546,3.421720,...,0.000000,39.958798,0.969447,0.990317,13.544744,8.110488,15.270751,38696.3,577601,5.585940e+05
1507,United States,2018,6707.496359,5828.300608,5499.579925,634.164718,392.160869,181.590846,5600.657039,320.197450,...,0.370571,1729.044461,256.715915,350.692416,1059.042325,1963.615455,241.546465,18687786.0,326687501,1.010836e+08

In [69]:
# Create new DataFrame filtered on desired states
emissions = carbon[(carbon.State == "Iowa") |
                   (carbon.State == "Minnesota") |
                   (carbon.State == "North Dakota") |
                   (carbon.State == "South Dakota") |
                   (carbon.State == "Wisconsin")]

# Reset index in place
emissions.reset_index(inplace = True, drop = True)

# Display DataFrame
emissions

,State,Year,Total GHG Emissions Excluding LUCF (MtCO2e),Total GHG Emissions Including LUCF (MtCO2e),Total CO2 (excluding LUCF) (MtCO2e),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),...,Bunker Fuels (MtCO2e),Electric Power (MtCO2e),Commercial (MtCO2e),Residential (MtCO2e),Industrial (MtCO2e),Transportation (MtCO2e),Fugitive Emissions (MtCO2e),State GDP (Million US$ (chained 1997/2005)),Population (People),Total Energy Use (Thous. tonnes oil eq. (ktoe))
0,Iowa,1990,110.915841,102.566194,65.620191,14.514050,30.527785,0.253815,65.026922,1.918627,...,0.000000,26.781547,3.208394,5.104766,12.801368,17.116484,0.014363,63460.0,2781018,2.383555e+04
1,Minnesota,1990,109.839495,101.088556,80.162016,8.782568,20.471405,0.423506,81.435380,0.498996,...,0.000000,29.753372,5.712355,8.226778,12.597242,25.145633,0.000000,120078.0,4389857,3.530511e+04
2,North Dakota,1990,53.127887,47.526957,40.856044,4.398852,7.730953,0.142038,42.146760,0.217319,...,0.000000,28.068425,0.855737,1.138863,6.106187,4.844608,1.132939,13161.0,637685,7.874918e+03
3,South Dakota,1990,28.386372,24.913264,12.130215,6.999835,9.201620,0.054702,12.619985,0.076289,...,0.000000,3.112679,0.692023,1.383120,2.124677,4.916453,0.391034,14696.0,697101,5.476271e+03
4,Wisconsin,1990,113.305703,94.052375,86.657388,14.027264,12.193197,0.427854,88.186750,0.814344,...,0.000000,33.383448,4.851392,9.621040,14.522145,25.808726,0.000000,115638.0,4904562,3.741558e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Iowa,2018,136.704605,127.527828,85.857356,17.355389,31.819182,1.672678,82.959792,4.996532,...,0.000000,28.897697,4.283267,5.512929,23.457281,20.808618,0.000000,172844.7,3148618,1.616101e+06
141,Minnesota,2018,127.398881,117.619766,94.019543,9.814089,20.576959,2.988290,93.166898,3.514935,...,0.000017,26.341183,7.372015,10.065932,17.775893,31.611875,0.000000,337215.9,5606249,1.913919e+06
142,North Dakota,2018,94.269542,87.732223,61.427017,15.273381,17.157851,0.411293,72.335296,0.849768,...,0.000000,31.305894,1.184410,1.184930,11.426276,9.480680,17.753106,53472.8,758080,6.609590e+05
143,South Dakota,2018,42.687138,38.637315,16.160010,9.283869,16.778220,0.465039,15.621569,1.142578,...,0.000000,2.841137,0.871226,1.175242,3.842051,6.856952,0.034960,47287.0,878698,3.968370e+05
144,Wisconsin,2018,128.884615,109.999975,101.752437,12.627558,11.445894,3.058726,101.452129,4.234074,...,0.000000,39.238932,6.683348,10.194157,14.078687,31.257005,0.000000,303767.4,5807406,1.885868e+06

In [70]:
# Print column names
for a in emissions.columns:
    print(a)

State
Year
Total GHG Emissions Excluding LUCF (MtCO2e)
Total GHG Emissions Including LUCF (MtCO2e)
Total CO2 (excluding LUCF) (MtCO2e)
Total CH4 (MtCO2e)
Total N2O (MtCO2e)
Total F-Gas (MtCO2e)
Energy (MtCO2e)
Industrial Processes (MtCO2e)
Agriculture (MtCO2e)
Waste (MtCO2e)
Land Use and Forestry (MtCO2e)
Bunker Fuels (MtCO2e)
Electric Power (MtCO2e)
Commercial (MtCO2e)
Residential (MtCO2e)
Industrial (MtCO2e)
Transportation (MtCO2e)
Fugitive Emissions (MtCO2e)
State GDP (Million US$ (chained 1997/2005))
Population (People)
Total Energy Use (Thous. tonnes oil eq. (ktoe))

In [71]:
# Create new DataFrame with only desired columns
carbonEmissions = emissions[["Year", "State", "Transportation (MtCO2e)"]].copy()

# Display DataFrame
carbonEmissions.head()

   Year         State  Transportation (MtCO2e)
0  1990          Iowa                17.116484
1  1990     Minnesota                25.145633
2  1990  North Dakota                 4.844608
3  1990  South Dakota                 4.916453
4  1990     Wisconsin                25.808726

In [72]:
# Rename column
carbonEmissions = carbonEmissions.rename(columns = {"Transportation (MtCO2e)":"Emissions"})

# Display DataFrame
carbonEmissions.head()

   Year         State  Emissions
0  1990          Iowa  17.116484
1  1990     Minnesota  25.145633
2  1990  North Dakota   4.844608
3  1990  South Dakota   4.916453
4  1990     Wisconsin  25.808726

In [73]:
# Use pandas pivot function to shift annual values onto single row
carbonEmissions = carbonEmissions.pivot(index = "Year", columns = "State", values = "Emissions")

# Display DataFrame
carbonEmissions

State       Iowa  Minnesota  North Dakota  South Dakota  Wisconsin
Year
1990   17.116484  25.145633      4.844608      4.916453  25.808726
1991   16.564712  26.310800      4.913473      4.687325  25.716480
1992   16.431845  27.720538      5.143650      5.288593  26.368581
1993   17.064168  29.233824      5.402739      5.384092  27.180918
1994   18.053886  30.217382      5.357596      5.724230  28.721214
1995   18.724337  31.288081      5.362954      5.841534  29.297354
1996   20.019862  32.276300      5.496267      5.838887  29.752413
1997   19.550619  31.868159      5.582767      5.688363  29.899735
1998   20.188845  33.368612      5.017909      5.854561  31.497489
1999   19.991046  35.429096      5.922174      5.997861  32.150269
2000   19.639233  36.650050      5.788442      6.085023  31.500816
2001   19.500639  35.775671      6.249763      5.989327  31.273801
2002   20.035036  36.211154      6.198138      6.495304  31.235651
2003   20.166192  36.173634      6.277670      6.072184  30.762328
2004   21.178712  37.248310      6.502987      6.172237  31.953761
2005   21.804555  37.647662      6.419279      6.257833  31.331999
2006   22.269268  37.000449      6.361237      6.274758  31.659536
2007   22.557940  37.013206      7.210858      6.489634  31.609469
2008   21.640933  34.932619      6.425272      6.093472  30.382657
2009   21.117831  32.333745      6.022292      6.288773  29.549675
2010   21.055694  32.164674      6.876221      6.502886  30.012055
2011   21.222488  31.813273      8.032738      6.489779  28.915370
2012   20.301501  32.215651      9.144185      6.875894  28.870989
2013   20.658018  30.666647      9.538938      6.599205  28.580062
2014   21.278089  30.787186     10.149001      6.860861  30.751677
2015   20.568721  30.408227      9.398703      6.953502  30.318151
2016   21.693500  31.904079      8.440201      6.927084  29.988725
2017   20.600683  31.390331      8.930514      6.711773  29.375210
2018   20.808618  31.611875      9.480680      6.856952  31.257005

In [74]:
# Convert index to its own column
carbonEmissions["Year"] = carbonEmissions.index

# Display DataFrame
carbonEmissions.head()

State       Iowa  Minnesota  North Dakota  South Dakota  Wisconsin  Year
Year
1990   17.116484  25.145633      4.844608      4.916453  25.808726  1990
1991   16.564712  26.310800      4.913473      4.687325  25.716480  1991
1992   16.431845  27.720538      5.143650      5.288593  26.368581  1992
1993   17.064168  29.233824      5.402739      5.384092  27.180918  1993
1994   18.053886  30.217382      5.357596      5.724230  28.721214  1994

In [75]:
# Reset index in place
carbonEmissions.reset_index(inplace = True, drop = True)

# Display DataFrame
carbonEmissions

State       Iowa  Minnesota  North Dakota  South Dakota  Wisconsin  Year
0      17.116484  25.145633      4.844608      4.916453  25.808726  1990
1      16.564712  26.310800      4.913473      4.687325  25.716480  1991
2      16.431845  27.720538      5.143650      5.288593  26.368581  1992
3      17.064168  29.233824      5.402739      5.384092  27.180918  1993
4      18.053886  30.217382      5.357596      5.724230  28.721214  1994
5      18.724337  31.288081      5.362954      5.841534  29.297354  1995
6      20.019862  32.276300      5.496267      5.838887  29.752413  1996
7      19.550619  31.868159      5.582767      5.688363  29.899735  1997
8      20.188845  33.368612      5.017909      5.854561  31.497489  1998
9      19.991046  35.429096      5.922174      5.997861  32.150269  1999
10     19.639233  36.650050      5.788442      6.085023  31.500816  2000
11     19.500639  35.775671      6.249763      5.989327  31.273801  2001
12     20.035036  36.211154      6.198138      6.495304  31.235651  2002
13     20.166192  36.173634      6.277670      6.072184  30.762328  2003
14     21.178712  37.248310      6.502987      6.172237  31.953761  2004
15     21.804555  37.647662      6.419279      6.257833  31.331999  2005
16     22.269268  37.000449      6.361237      6.274758  31.659536  2006
17     22.557940  37.013206      7.210858      6.489634  31.609469  2007
18     21.640933  34.932619      6.425272      6.093472  30.382657  2008
19     21.117831  32.333745      6.022292      6.288773  29.549675  2009
20     21.055694  32.164674      6.876221      6.502886  30.012055  2010
21     21.222488  31.813273      8.032738      6.489779  28.915370  2011
22     20.301501  32.215651      9.144185      6.875894  28.870989  2012
23     20.658018  30.666647      9.538938      6.599205  28.580062  2013
24     21.278089  30.787186     10.149001      6.860861  30.751677  2014
25     20.568721  30.408227      9.398703      6.953502  30.318151  2015
26     21.693500  31.904079      8.440201      6.927084  29.988725  2016
27     20.600683  31.390331      8.930514      6.711773  29.375210  2017
28     20.808618  31.611875      9.480680      6.856952  31.257005  2018

In [76]:
# Rearrange columns
carbonEmissions = carbonEmissions[["Year", "Iowa", "Minnesota", "North Dakota", "South Dakota", "Wisconsin"]]

# Rename columns
carbonEmissions = carbonEmissions.rename(columns = {"Iowa":"iaGHG", "Minnesota":"mnGHG", "North Dakota":"ndGHG",
                                                    "South Dakota":"sdGHG", "Wisconsin":"wiGHG"})

# Sort by year
carbonEmissions = carbonEmissions.sort_values("Year", ascending = False)

# Reset index in place
carbonEmissions.reset_index(inplace = True, drop = True)

# Display DataFrame
carbonEmissions

State  Year      iaGHG      mnGHG      ndGHG     sdGHG      wiGHG
0      2018  20.808618  31.611875   9.480680  6.856952  31.257005
1      2017  20.600683  31.390331   8.930514  6.711773  29.375210
2      2016  21.693500  31.904079   8.440201  6.927084  29.988725
3      2015  20.568721  30.408227   9.398703  6.953502  30.318151
4      2014  21.278089  30.787186  10.149001  6.860861  30.751677
5      2013  20.658018  30.666647   9.538938  6.599205  28.580062
6      2012  20.301501  32.215651   9.144185  6.875894  28.870989
7      2011  21.222488  31.813273   8.032738  6.489779  28.915370
8      2010  21.055694  32.164674   6.876221  6.502886  30.012055
9      2009  21.117831  32.333745   6.022292  6.288773  29.549675
10     2008  21.640933  34.932619   6.425272  6.093472  30.382657
11     2007  22.557940  37.013206   7.210858  6.489634  31.609469
12     2006  22.269268  37.000449   6.361237  6.274758  31.659536
13     2005  21.804555  37.647662   6.419279  6.257833  31.331999
14     2004  21.178712  37.248310   6.502987  6.172237  31.953761
15     2003  20.166192  36.173634   6.277670  6.072184  30.762328
16     2002  20.035036  36.211154   6.198138  6.495304  31.235651
17     2001  19.500639  35.775671   6.249763  5.989327  31.273801
18     2000  19.639233  36.650050   5.788442  6.085023  31.500816
19     1999  19.991046  35.429096   5.922174  5.997861  32.150269
20     1998  20.188845  33.368612   5.017909  5.854561  31.497489
21     1997  19.550619  31.868159   5.582767  5.688363  29.899735
22     1996  20.019862  32.276300   5.496267  5.838887  29.752413
23     1995  18.724337  31.288081   5.362954  5.841534  29.297354
24     1994  18.053886  30.217382   5.357596  5.724230  28.721214
25     1993  17.064168  29.233824   5.402739  5.384092  27.180918
26     1992  16.431845  27.720538   5.143650  5.288593  26.368581
27     1991  16.564712  26.310800   4.913473  4.687325  25.716480
28     1990  17.116484  25.145633   4.844608  4.916453  25.808726

In [77]:
# Drop index label
carbonEmissions.columns.name = None

# Display DataFrame
carbonEmissions.head()

   Year      iaGHG      mnGHG      ndGHG     sdGHG      wiGHG
0  2018  20.808618  31.611875   9.480680  6.856952  31.257005
1  2017  20.600683  31.390331   8.930514  6.711773  29.375210
2  2016  21.693500  31.904079   8.440201  6.927084  29.988725
3  2015  20.568721  30.408227   9.398703  6.953502  30.318151
4  2014  21.278089  30.787186  10.149001  6.860861  30.751677

### *Merge DataFrame with carbonEmissions*

In [78]:
# Merge DataFrames
DataFrame = DataFrame.merge(carbonEmissions, how = "left", left_on = "Year", right_on = "Year")

# Display DataFrame
DataFrame

,Year,usaVMT,iaVMT,iaGAS,mnVMT,mnGAS,ndVMT,ndGAS,sdVMT,sdGAS,...,iaLaws,mnLaws,sdLaws,ndLaws,wiLaws,iaGHG,mnGHG,ndGHG,sdGHG,wiGHG
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,...,18.0,28.0,12.0,13.0,19.0,20.808618,31.611875,9.480680,6.856952,31.257005
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,...,16.0,23.0,12.0,13.0,18.0,20.600683,31.390331,8.930514,6.711773,29.375210
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,...,14.0,20.0,12.0,12.0,13.0,21.693500,31.904079,8.440201,6.927084,29.988725
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,...,11.0,17.0,12.0,12.0,13.0,20.568721,30.408227,9.398703,6.953502,30.318151
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,...,11.0,17.0,12.0,12.0,13.0,21.278089,30.787186,10.149001,6.860861,30.751677
5,2013,2988280000000,31542000000,1.261610e+09,56993471770,2.307029e+09,10100000000,435268425.0,9114000000,432163800.0,...,7.0,15.0,12.0,12.0,12.0,20.658018,30.666647,9.538938,6.599205,28.580062
6,2012,2968570000000,31581000000,1.300947e+09,57018582582,2.266559e+09,10093000000,417152025.0,9077000000,413389950.0,...,6.0,12.0,12.0,10.0,12.0,20.301501,32.215651,9.144185,6.875894,28.870989
7,2011,2950402000000,31411000000,1.340687e+09,56675049785,2.207060e+09,9166000000,391328850.0,8993000000,442646475.0,...,6.0,12.0,10.0,10.0,12.0,21.222488,31.813273,8.032738,6.489779,28.915370
8,2010,2967266000000,31579000000,1.387475e+09,56762480425,2.218309e+09,8303000000,370400025.0,8861000000,439432275.0,...,2.0,11.0,9.0,7.0,12.0,21.055694,32.164674,6.876221,6.502886,30.012055
9,2009,2956764000000,31295000000,1.304308e+09,56970430780,2.213890e+09,7943000000,346183950.0,8740000000,424237875.0,...,2.0,11.0,9.0,7.0,7.0,21.117831,32.333745,6.022292,6.288773,29.549675
10,2008,2973509000000,30954000000,1.291232e+09,57296572026,2.233065e+09,7608000000,324268950.0,8470000000,409810500.0,...,1.0,9.0,4.0,5.0,7.0,21.640933,34.932619,6.425272,6.093472,30.382657
11,2007,3029822000000,31481000000,1.350293e+09,57409995170,2.556969e+09,7663000000,328542375.0,8988000000,434063100.0,...,1.0,7.0,3.0,4.0,6.0,22.557940,37.013206,7.210858,6.489634,31.609469
12,2006,3014116000000,31733000000,1.403656e+09,56603273630,2.573880e+09,7664000000,341983575.0,9150000000,421900275.0,...,1.0,6.0,2.0,3.0,6.0,22.269268,37.000449,6.361237,6.274758,31.659536
13,2005,2989430000000,31568000000,1.575688e+09,56520774505,2.635352e+09,7443000000,334094175.0,8383000000,424310925.0,...,1.0,4.0,2.0,3.0,5.0,21.804555,37.647662,6.419279,6.257833,31.331999
14,2004,2964789000000,31971000000,1.636539e+09,56483471916,2.686268e+09,7439000000,350530425.0,8771000000,434172675.0,...,1.0,3.0,2.0,3.0,2.0,21.178712,37.248310,6.502987,6.172237,31.953761
15,2003,2890222000000,31597000000,1.560458e+09,55413326180,2.551892e+09,7290000000,330039900.0,8516000000,429607050.0,...,1.0,2.0,2.0,3.0,2.0,20.166192,36.173634,6.277670,6.072184,30.762328
16,2002,2855509000000,31361000000,1.544752e+09,54401389960,2.475591e+09,7095000000,340120800.0,8494000000,429826200.0,...,1.0,2.0,2.0,2.0,2.0,20.035036,36.211154,6.198138,6.495304,31.235651
17,2001,2795611000000,30461000000,1.509505e+09,53233950965,2.488667e+09,7084000000,346622250.0,8540000000,425406675.0,...,1.0,2.0,2.0,2.0,2.0,19.500639,35.775671,6.249763,5.989327,31.273801
18,2000,2746926000000,29821000000,1.496174e+09,52109352480,2.452288e+09,7061000000,359150325.0,8227000000,420329700.0,...,1.0,1.0,2.0,0.0,2.0,19.639233,36.650050,5.788442,6.085023,31.500816
19,1999,2679459000000,29726000000,1.560348e+09,50864384105,2.407947e+09,7101000000,379640850.0,8054000000,422119425.0,...,NaN,NaN,NaN,NaN,NaN,19.991046,35.429096,5.922174,5.997861,32.150269
20,1998,2625363000000,29192000000,1.490220e+09,49711668480,2.291907e+09,7093000000,373541175.0,7931000000,441258525.0,...,NaN,NaN,NaN,NaN,NaN,20.188845,33.368612,5.017909,5.854561,31.497489
21,1997,2560373000000,28404000000,1.467246e+09,48090575365,2.306956e+09,6942000000,362437575.0,7797000000,414266550.0,...,NaN,NaN,NaN,NaN,NaN,19.550619,31.868159,5.582767,5.688363,29.899735
22,1996,2482201000000,27587000000,1.463045e+09,45821088180,2.277042e+09,6767000000,357141450.0,7696000000,414449175.0,...,NaN,NaN,NaN,NaN,NaN,20.019862,32.276300,5.496267,5.838887,29.752413
23,1995,2422776000000,26658000000,1.413846e+09,44117498900,2.220720e+09,6546000000,369486900.0,7569000000,409080000.0,...,NaN,NaN,NaN,NaN,NaN,18.724337,31.288081,5.362954,5.841534,29.297354
24,1994,2357587000000,26039000000,1.432109e+09,43262537865,2.156034e+09,6388000000,364556025.0,7550000000,418759125.0,...,NaN,NaN,NaN,NaN,NaN,18.053886,30.217382,5.357596,5.724230,28.721214
25,1993,2296705000000,25396000000,1.386306e+09,42473511890,2.043391e+09,6204000000,361159200.0,7352000000,403966500.0,...,NaN,NaN,NaN,NaN,NaN,17.064168,29.233824,5.402739,5.384092,27.180918
26,1992,2247152000000,24411000000,1.381485e+09,41685288180,1.983161e+09,6105000000,334970775.0,7176000000,402067200.0,...,NaN,NaN,NaN,NaN,NaN,16.431845,27.720538,5.143650,5.288593,26.368581
27,1991,2172214000000,23572000000,1.380901e+09,39301381935,1.968734e+09,5999000000,323136675.0,6690000000,380517450.0,...,NaN,NaN,NaN,NaN,NaN,16.564712,26.310800,4.913473,4.687325,25.716480
28,1990,2147501000000,23165000000,1.419690e+09,39216794645,1.975783e+09,5957000000,320141625.0,6985000000,376353600.0,...,NaN,NaN,NaN,NaN,NaN,17.116484,25.145633,4.844608,4.916453,25.808726

In [79]:
# Print column names
for b in DataFrame.columns:
    print(b)

Year
usaVMT
iaVMT
iaGAS
mnVMT
mnGAS
ndVMT
ndGAS
sdVMT
sdGAS
wiVMT
wiGAS
iaPOP
iaAREA
iaDENS
mnPOP
mnAREA
mnDENS
ndPOP
ndAREA
ndDENS
sdPOP
sdAREA
sdDENS
wiPOP
wiAREA
wiDENS
mnTempHigh
mnTempLow
iaTempHigh
iaTempLow
wiTempHigh
wiTempLow
ndTempHigh
ndTempLow
sdTempHigh
sdTempLow
iaBicycle
iaCarpool
iaDrovealone
iaPublictransportation
iaTaximotorcycleorother
iaWalked
iaWorkedathome
mnBicycle
mnCarpool
mnDrovealone
mnPublictransportation
mnTaximotorcycleorother
mnWalked
mnWorkedathome
ndBicycle
ndCarpool
ndDrovealone
ndPublictransportation
ndTaximotorcycleorother
ndWalked
ndWorkedathome
sdBicycle
sdCarpool
sdDrovealone
sdPublictransportation
sdTaximotorcycleorother
sdWalked
sdWorkedathome
wiBicycle
wiCarpool
wiDrovealone
wiPublictransportation
wiTaximotorcycleorother
wiWalked
wiWorkedathome
iaLaws
mnLaws
sdLaws
ndLaws
wiLaws
iaGHG
mnGHG
ndGHG
sdGHG
wiGHG

In [80]:
# Export to CSV
DataFrame.to_csv("resources/annualData.csv", index = False, header = True)

### *Merge DataFrame with EV Market Share Data*

In [81]:
# Merge DataFrames
DataFrame = DataFrame.merge(shareData, how = "left", left_on = "Year", right_on = "Year")

# Display DataFrame
DataFrame

,Year,usaVMT,iaVMT,iaGAS,mnVMT,mnGAS,ndVMT,ndGAS,sdVMT,sdGAS,...,mnLaws,sdLaws,ndLaws,wiLaws,iaGHG,mnGHG,ndGHG,sdGHG,wiGHG,EV Market Share
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,...,28.0,12.0,13.0,19.0,20.808618,31.611875,9.480680,6.856952,31.257005,0.0254
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,...,23.0,12.0,13.0,18.0,20.600683,31.390331,8.930514,6.711773,29.375210,0.0120
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,...,20.0,12.0,12.0,13.0,21.693500,31.904079,8.440201,6.927084,29.988725,0.0099
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,...,17.0,12.0,12.0,13.0,20.568721,30.408227,9.398703,6.953502,30.318151,0.0094
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,...,17.0,12.0,12.0,13.0,21.278089,30.787186,10.149001,6.860861,30.751677,0.0082
5,2013,2988280000000,31542000000,1.261610e+09,56993471770,2.307029e+09,10100000000,435268425.0,9114000000,432163800.0,...,15.0,12.0,12.0,12.0,20.658018,30.666647,9.538938,6.599205,28.580062,0.0064
6,2012,2968570000000,31581000000,1.300947e+09,57018582582,2.266559e+09,10093000000,417152025.0,9077000000,413389950.0,...,12.0,12.0,10.0,12.0,20.301501,32.215651,9.144185,6.875894,28.870989,0.0021
7,2011,2950402000000,31411000000,1.340687e+09,56675049785,2.207060e+09,9166000000,391328850.0,8993000000,442646475.0,...,12.0,10.0,10.0,12.0,21.222488,31.813273,8.032738,6.489779,28.915370,0.0017
8,2010,2967266000000,31579000000,1.387475e+09,56762480425,2.218309e+09,8303000000,370400025.0,8861000000,439432275.0,...,11.0,9.0,7.0,12.0,21.055694,32.164674,6.876221,6.502886,30.012055,0.0000
9,2009,2956764000000,31295000000,1.304308e+09,56970430780,2.213890e+09,7943000000,346183950.0,8740000000,424237875.0,...,11.0,9.0,7.0,7.0,21.117831,32.333745,6.022292,6.288773,29.549675,0.0000
10,2008,2973509000000,30954000000,1.291232e+09,57296572026,2.233065e+09,7608000000,324268950.0,8470000000,409810500.0,...,9.0,4.0,5.0,7.0,21.640933,34.932619,6.425272,6.093472,30.382657,0.0000
11,2007,3029822000000,31481000000,1.350293e+09,57409995170,2.556969e+09,7663000000,328542375.0,8988000000,434063100.0,...,7.0,3.0,4.0,6.0,22.557940,37.013206,7.210858,6.489634,31.609469,0.0000
12,2006,3014116000000,31733000000,1.403656e+09,56603273630,2.573880e+09,7664000000,341983575.0,9150000000,421900275.0,...,6.0,2.0,3.0,6.0,22.269268,37.000449,6.361237,6.274758,31.659536,0.0000
13,2005,2989430000000,31568000000,1.575688e+09,56520774505,2.635352e+09,7443000000,334094175.0,8383000000,424310925.0,...,4.0,2.0,3.0,5.0,21.804555,37.647662,6.419279,6.257833,31.331999,0.0000
14,2004,2964789000000,31971000000,1.636539e+09,56483471916,2.686268e+09,7439000000,350530425.0,8771000000,434172675.0,...,3.0,2.0,3.0,2.0,21.178712,37.248310,6.502987,6.172237,31.953761,0.0000
15,2003,2890222000000,31597000000,1.560458e+09,55413326180,2.551892e+09,7290000000,330039900.0,8516000000,429607050.0,...,2.0,2.0,3.0,2.0,20.166192,36.173634,6.277670,6.072184,30.762328,0.0000
16,2002,2855509000000,31361000000,1.544752e+09,54401389960,2.475591e+09,7095000000,340120800.0,8494000000,429826200.0,...,2.0,2.0,2.0,2.0,20.035036,36.211154,6.198138,6.495304,31.235651,0.0000
17,2001,2795611000000,30461000000,1.509505e+09,53233950965,2.488667e+09,7084000000,346622250.0,8540000000,425406675.0,...,2.0,2.0,2.0,2.0,19.500639,35.775671,6.249763,5.989327,31.273801,0.0000
18,2000,2746926000000,29821000000,1.496174e+09,52109352480,2.452288e+09,7061000000,359150325.0,8227000000,420329700.0,...,1.0,2.0,0.0,2.0,19.639233,36.650050,5.788442,6.085023,31.500816,0.0002
19,1999,2679459000000,29726000000,1.560348e+09,50864384105,2.407947e+09,7101000000,379640850.0,8054000000,422119425.0,...,NaN,NaN,NaN,NaN,19.991046,35.429096,5.922174,5.997861,32.150269,0.0000
20,1998,2625363000000,29192000000,1.490220e+09,49711668480,2.291907e+09,7093000000,373541175.0,7931000000,441258525.0,...,NaN,NaN,NaN,NaN,20.188845,33.368612,5.017909,5.854561,31.497489,0.0000
21,1997,2560373000000,28404000000,1.467246e+09,48090575365,2.306956e+09,6942000000,362437575.0,7797000000,414266550.0,...,NaN,NaN,NaN,NaN,19.550619,31.868159,5.582767,5.688363,29.899735,0.0000
22,1996,2482201000000,27587000000,1.463045e+09,45821088180,2.277042e+09,6767000000,357141450.0,7696000000,414449175.0,...,NaN,NaN,NaN,NaN,20.019862,32.276300,5.496267,5.838887,29.752413,0.0000
23,1995,2422776000000,26658000000,1.413846e+09,44117498900,2.220720e+09,6546000000,369486900.0,7569000000,409080000.0,...,NaN,NaN,NaN,NaN,18.724337,31.288081,5.362954,5.841534,29.297354,0.0000
24,1994,2357587000000,26039000000,1.432109e+09,43262537865,2.156034e+09,6388000000,364556025.0,7550000000,418759125.0,...,NaN,NaN,NaN,NaN,18.053886,30.217382,5.357596,5.724230,28.721214,0.0000
25,1993,2296705000000,25396000000,1.386306e+09,42473511890,2.043391e+09,6204000000,361159200.0,7352000000,403966500.0,...,NaN,NaN,NaN,NaN,17.064168,29.233824,5.402739,5.384092,27.180918,0.0000
26,1992,2247152000000,24411000000,1.381485e+09,41685288180,1.983161e+09,6105000000,334970775.0,7176000000,402067200.0,...,NaN,NaN,NaN,NaN,16.431845,27.720538,5.143650,5.288593,26.368581,0.0000
27,1991,2172214000000,23572000000,1.380901e+09,39301381935,1.968734e+09,5999000000,323136675.0,6690000000,380517450.0,...,NaN,NaN,NaN,NaN,16.564712,26.310800,4.913473,4.687325,25.716480,0.0000
28,1990,2147501000000,23165000000,1.419690e+09,39216794645,1.975783e+09,5957000000,320141625.0,6985000000,376353600.0,...,NaN,NaN,NaN,NaN,17.116484,25.145633,4.844608,4.916453,25.808726,0.0000

In [82]:
# Rename column
DataFrame = DataFrame.rename(columns = {"EV Market Share":"evSHARE"})

# Display DataFrame
DataFrame

,Year,usaVMT,iaVMT,iaGAS,mnVMT,mnGAS,ndVMT,ndGAS,sdVMT,sdGAS,...,mnLaws,sdLaws,ndLaws,wiLaws,iaGHG,mnGHG,ndGHG,sdGHG,wiGHG,evSHARE
0,2018,3240327000000,33507000000,1.140457e+09,60438313272,2.271234e+09,9866000000,396844125.0,9736000000,453202200.0,...,28.0,12.0,13.0,19.0,20.808618,31.611875,9.480680,6.856952,31.257005,0.0254
1,2017,3212347000000,33751000000,1.181657e+09,59970745402,2.331281e+09,9703000000,402176775.0,9638000000,441222000.0,...,23.0,12.0,13.0,18.0,20.600683,31.390331,8.930514,6.711773,29.375210,0.0120
2,2016,3174408000000,33263000000,1.198349e+09,58856547322,2.407911e+09,9740000000,400058325.0,9508000000,427050300.0,...,20.0,12.0,12.0,13.0,21.693500,31.904079,8.440201,6.927084,29.988725,0.0099
3,2015,3095373000000,33109000000,1.149113e+09,57795772499,2.367989e+09,10079000000,430921950.0,9325000000,418065150.0,...,17.0,12.0,12.0,13.0,20.568721,30.408227,9.398703,6.953502,30.318151,0.0094
4,2014,3025656000000,32332000000,1.186003e+09,57393220230,2.289606e+09,10437000000,443669175.0,9226000000,411052350.0,...,17.0,12.0,12.0,13.0,21.278089,30.787186,10.149001,6.860861,30.751677,0.0082
5,2013,2988280000000,31542000000,1.261610e+09,56993471770,2.307029e+09,10100000000,435268425.0,9114000000,432163800.0,...,15.0,12.0,12.0,12.0,20.658018,30.666647,9.538938,6.599205,28.580062,0.0064
6,2012,2968570000000,31581000000,1.300947e+09,57018582582,2.266559e+09,10093000000,417152025.0,9077000000,413389950.0,...,12.0,12.0,10.0,12.0,20.301501,32.215651,9.144185,6.875894,28.870989,0.0021
7,2011,2950402000000,31411000000,1.340687e+09,56675049785,2.207060e+09,9166000000,391328850.0,8993000000,442646475.0,...,12.0,10.0,10.0,12.0,21.222488,31.813273,8.032738,6.489779,28.915370,0.0017
8,2010,2967266000000,31579000000,1.387475e+09,56762480425,2.218309e+09,8303000000,370400025.0,8861000000,439432275.0,...,11.0,9.0,7.0,12.0,21.055694,32.164674,6.876221,6.502886,30.012055,0.0000
9,2009,2956764000000,31295000000,1.304308e+09,56970430780,2.213890e+09,7943000000,346183950.0,8740000000,424237875.0,...,11.0,9.0,7.0,7.0,21.117831,32.333745,6.022292,6.288773,29.549675,0.0000
10,2008,2973509000000,30954000000,1.291232e+09,57296572026,2.233065e+09,7608000000,324268950.0,8470000000,409810500.0,...,9.0,4.0,5.0,7.0,21.640933,34.932619,6.425272,6.093472,30.382657,0.0000
11,2007,3029822000000,31481000000,1.350293e+09,57409995170,2.556969e+09,7663000000,328542375.0,8988000000,434063100.0,...,7.0,3.0,4.0,6.0,22.557940,37.013206,7.210858,6.489634,31.609469,0.0000
12,2006,3014116000000,31733000000,1.403656e+09,56603273630,2.573880e+09,7664000000,341983575.0,9150000000,421900275.0,...,6.0,2.0,3.0,6.0,22.269268,37.000449,6.361237,6.274758,31.659536,0.0000
13,2005,2989430000000,31568000000,1.575688e+09,56520774505,2.635352e+09,7443000000,334094175.0,8383000000,424310925.0,...,4.0,2.0,3.0,5.0,21.804555,37.647662,6.419279,6.257833,31.331999,0.0000
14,2004,2964789000000,31971000000,1.636539e+09,56483471916,2.686268e+09,7439000000,350530425.0,8771000000,434172675.0,...,3.0,2.0,3.0,2.0,21.178712,37.248310,6.502987,6.172237,31.953761,0.0000
15,2003,2890222000000,31597000000,1.560458e+09,55413326180,2.551892e+09,7290000000,330039900.0,8516000000,429607050.0,...,2.0,2.0,3.0,2.0,20.166192,36.173634,6.277670,6.072184,30.762328,0.0000
16,2002,2855509000000,31361000000,1.544752e+09,54401389960,2.475591e+09,7095000000,340120800.0,8494000000,429826200.0,...,2.0,2.0,2.0,2.0,20.035036,36.211154,6.198138,6.495304,31.235651,0.0000
17,2001,2795611000000,30461000000,1.509505e+09,53233950965,2.488667e+09,7084000000,346622250.0,8540000000,425406675.0,...,2.0,2.0,2.0,2.0,19.500639,35.775671,6.249763,5.989327,31.273801,0.0000
18,2000,2746926000000,29821000000,1.496174e+09,52109352480,2.452288e+09,7061000000,359150325.0,8227000000,420329700.0,...,1.0,2.0,0.0,2.0,19.639233,36.650050,5.788442,6.085023,31.500816,0.0002
19,1999,2679459000000,29726000000,1.560348e+09,50864384105,2.407947e+09,7101000000,379640850.0,8054000000,422119425.0,...,NaN,NaN,NaN,NaN,19.991046,35.429096,5.922174,5.997861,32.150269,0.0000
20,1998,2625363000000,29192000000,1.490220e+09,49711668480,2.291907e+09,7093000000,373541175.0,7931000000,441258525.0,...,NaN,NaN,NaN,NaN,20.188845,33.368612,5.017909,5.854561,31.497489,0.0000
21,1997,2560373000000,28404000000,1.467246e+09,48090575365,2.306956e+09,6942000000,362437575.0,7797000000,414266550.0,...,NaN,NaN,NaN,NaN,19.550619,31.868159,5.582767,5.688363,29.899735,0.0000
22,1996,2482201000000,27587000000,1.463045e+09,45821088180,2.277042e+09,6767000000,357141450.0,7696000000,414449175.0,...,NaN,NaN,NaN,NaN,20.019862,32.276300,5.496267,5.838887,29.752413,0.0000
23,1995,2422776000000,26658000000,1.413846e+09,44117498900,2.220720e+09,6546000000,369486900.0,7569000000,409080000.0,...,NaN,NaN,NaN,NaN,18.724337,31.288081,5.362954,5.841534,29.297354,0.0000
24,1994,2357587000000,26039000000,1.432109e+09,43262537865,2.156034e+09,6388000000,364556025.0,7550000000,418759125.0,...,NaN,NaN,NaN,NaN,18.053886,30.217382,5.357596,5.724230,28.721214,0.0000
25,1993,2296705000000,25396000000,1.386306e+09,42473511890,2.043391e+09,6204000000,361159200.0,7352000000,403966500.0,...,NaN,NaN,NaN,NaN,17.064168,29.233824,5.402739,5.384092,27.180918,0.0000
26,1992,2247152000000,24411000000,1.381485e+09,41685288180,1.983161e+09,6105000000,334970775.0,7176000000,402067200.0,...,NaN,NaN,NaN,NaN,16.431845,27.720538,5.143650,5.288593,26.368581,0.0000
27,1991,2172214000000,23572000000,1.380901e+09,39301381935,1.968734e+09,5999000000,323136675.0,6690000000,380517450.0,...,NaN,NaN,NaN,NaN,16.564712,26.310800,4.913473,4.687325,25.716480,0.0000
28,1990,2147501000000,23165000000,1.419690e+09,39216794645,1.975783e+09,5957000000,320141625.0,6985000000,376353600.0,...,NaN,NaN,NaN,NaN,17.116484,25.145633,4.844608,4.916453,25.808726,0.0000

In [83]:
# Sort by year
DataFrame = DataFrame.sort_values("Year", ascending = True)

# Reset index in place
DataFrame.reset_index(inplace = True, drop = True)

# Display DataFrame
DataFrame.head()

,Year,usaVMT,iaVMT,iaGAS,mnVMT,mnGAS,ndVMT,ndGAS,sdVMT,sdGAS,...,mnLaws,sdLaws,ndLaws,wiLaws,iaGHG,mnGHG,ndGHG,sdGHG,wiGHG,evSHARE
0,1990,2147501000000,23165000000,1.419690e+09,39216794645,1.975783e+09,5957000000,320141625.0,6985000000,376353600.0,...,NaN,NaN,NaN,NaN,17.116484,25.145633,4.844608,4.916453,25.808726,0.0
1,1991,2172214000000,23572000000,1.380901e+09,39301381935,1.968734e+09,5999000000,323136675.0,6690000000,380517450.0,...,NaN,NaN,NaN,NaN,16.564712,26.310800,4.913473,4.687325,25.716480,0.0
2,1992,2247152000000,24411000000,1.381485e+09,41685288180,1.983161e+09,6105000000,334970775.0,7176000000,402067200.0,...,NaN,NaN,NaN,NaN,16.431845,27.720538,5.143650,5.288593,26.368581,0.0
3,1993,2296705000000,25396000000,1.386306e+09,42473511890,2.043391e+09,6204000000,361159200.0,7352000000,403966500.0,...,NaN,NaN,NaN,NaN,17.064168,29.233824,5.402739,5.384092,27.180918,0.0
4,1994,2357587000000,26039000000,1.432109e+09,43262537865,2.156034e+09,6388000000,364556025.0,7550000000,418759125.0,...,NaN,NaN,NaN,NaN,18.053886,30.217382,5.357596,5.724230,28.721214,0.0

In [84]:
# Export to CSV
DataFrame.to_csv("resources/annualData.csv", index = False, header = True)

In [85]:
# Matt's Code Ends Here